[2019-01-19 10:42] uittorio opened #1 "Generic reused"
Example
[code]

[2019-01-19 10:48] uittorio opened #2 "Improve typings for Mock"
Currently the type of Mock that is returned by createMock is not working for all the scenario and you may need to cast it to his original type to make it work.

Example
[code]

[2019-01-19 10:53] uittorio opened #3 "types key of with index type"
When trying to mock this type it will correctly returns the properties of Class but not the value of it
[code]

[2019-01-19 10:55] uittorio opened #4 "extends typescript libs"
I wrote some test scenario with jasmine to simplify the explanation
[code]

[2019-01-19 10:56] uittorio opened #5 "intersection with typescript libs"
I wrote some test scenario with jasmine to simplify the explanation

[code]

[2019-01-20 23:27] Pmyl opened #6 "Union type string imported"
If using a union type imported in an interface the transformers can't resolve it.
[code]

The type TypeUnion is already in the codebase.

[2019-01-21 15:16] uittorio opened #7 "Union type empty objects crash"
[code]

[2019-01-21 16:36] Pmyl commented on #1
This happens due to our reusing of mock factories that are related to the type. Once the factory is created for `Interface<string>` then all the following usages of `Interface<*>` will have the generic `string`.

My opinion is that we need to enhance the factory parameterizing it to receive the generics keys and shift a small part of the calculations at runtime.

[2019-01-21 16:47] Pmyl commented on #5
Tell me if I'm wrong, to solve this at some extent we just need to normalize the variable names to avoid `[Symbol.toStringTag]` to error as a name. The fact is that normally a `Promise` is not mocked entirely so probably it shouldn't happen here too.

This issue actually brings up a problem with intersection types when one part of the intersection is a function. That is going to either fail misera

[2019-01-21 16:50] uittorio commented on #5
Yes, so the problem is how we are handling intersection types. Right now is using getPropertyOfTypes from typescript api, and that functionality try to fetch all the properties of a real Promise. We definitely have to solve Symbol.toStringTag and I have to make sure that the type is converted to our Promise before  converting it. Unfortunately the conversion of the Promise is not centralised yet

[2019-01-21 16:54] Pmyl commented on #4
This is definitely the same problem as #5 where the transformer is trying to mock entirely `Array<string>` but is failing because is trying to use `[Symbol.iterator]` as a variable name.

That shouldn't happen at all since the `Array` is mocked in a special way.

What we probably have to do is to treat extends/implements in the same way as we treat intersection and then, as specified in #5, review

[2019-01-21 20:15] #6 closed

[2019-01-21 20:15] #7 closed

[2019-01-22 14:17] Pmyl opened #8 "Prevent repetition of emitted code when mocking extended/implemented interfaces"
As a user I want to be able to run my test suit with more performance as possible without code repetition emitted by the transformer.

**Use case**
Given the case where we have an interface and an implemented class:
[code]
if I mock Person in one spec and IPerson in another spec I ends up with this (more or less) emitted code:
[code]

The emitted code contains a repetition that could affect the pe

[2019-01-23 23:36] Pmyl opened #9 "Using reserved words as method/property name generate invalid js code"
[code]

generates a factory containing this code

[code]

that is invalid javascript that throws `Unexpected keyword 'catch'`.

One solution could be prefix variable names with a character.

[2019-01-24 19:37] #9 closed

[2019-03-03 14:46] uittorio opened #11 "improve caching for generics"
The current code base is not caching types that use generics. Ideally we would like to cache the types and use the generic value at runtime. Something like this.

[code]

[2019-03-03 14:46] #1 closed

[2019-03-04 03:12] uittorio commented on #2
resolved by version 0.0.17

[2019-03-04 03:12] #2 closed

[2019-03-04 03:15] uittorio opened #12 "add ability to define custom mocks for same type (example, Promises)"
With the current implementation of the library to mock a promise with your special promise you need to
[code]
It would be nice to have the ability to define a mock once and it will be used for that type all the time.
[code]

[2019-03-05 16:22] Pmyl opened #13 "Improve mock typings and front interface"
[code]
This is horrible.

And it was my idea. Bad Giulio.

I have an alternative for this. During `On.Mock(myMock)` instead of giving an error at development time I would give an error at runtime.

Let's remove the type `Mock<T>` and just return `T` from `createMock()`. During `On.Mock(myMock)` we just check if `___thisIsAMockMarker` is defined (we don't care about the value) and if it doesn't we

[2019-03-06 02:25] uittorio commented on #13
I agree :) I’ve honestly just copied and paste your idea ahahah :). I dont mind use the object as “instance”. If it grows we will add a proper class

[2019-03-07 02:16] #13 closed

[2019-03-27 09:06] uittorio opened #18 "multiple usage of typescript libs breaks the name of the spy"
[code]

I'm not sure if the issue is just the name or the entire spy created that refer to a instead of b

[2019-04-05 21:07] Pmyl opened #20 "method declaration without specified return type generates an error"
[code]

This generates an error during compilation of the test file

[2019-04-06 09:46] #18 closed

[2019-04-06 10:08] uittorio opened #23 "Documentation on transformer descriptor"
Right now is difficult to understand what happen for specific scenario like

`() => void` or `interface {a: string, b: number }`

Is not easy to follow the code to understand where it happen and what is what.

We need some kind of documentation to help maintain and debug the code

[2019-04-06 10:09] uittorio opened #24 "Add changelog"
It would be nice to automate the changes between one version to another with the list of bugs and feature done

[2019-04-06 10:23] uittorio opened #25 "Add tslint to project"
Add tslint to project so the code will be consistent with different developers/machines

[2019-04-06 10:31] #20 closed

[2019-04-07 10:43] #25 closed

[2019-04-07 10:47] #24 closed

[2019-04-19 09:42] uittorio opened #32 "Create mock of defined number of list"
It would be nice to have a quick way to create mock for an array of types.. if I want to create a mock of an array of a particular type createMock will return an empty array.

The proposal is to create a createMockList function that need ls the generic type and in the argument receive the lengh of the array

createMockList<Type>(3)

[2019-04-19 09:45] uittorio opened #33 "Override default values of mock"
Sometimes we need a mock of a type but we need to specify some properties directly.

Right now to do it you have to create the mock and then ovveride the value manually

What if we could pass a value that has to be a partial of the type for the mock and it will ovveride the value?

`
interface Type {
 propertyA: number;
propertyB: string;
propertyC: boolean;
}
createMock<Type>({ propertyA: 5, prop

[2019-04-20 15:54] #32 closed

[2019-04-28 08:43] uittorio opened #38 "Improve definition for exported modules that are used by the transformed mock"
There are few modules that are exported because the code transformed need them at runtime.

We have right now:
in ts-auto-mock/extension:
1) Marker

in ts-auto-mock/repository:
1) Repository

Instead of exporting the class or the method directly we should exporting as ɵ{NameOfTheClass} so it's more clear that it should be be used by the user

Example:

`export { Marker as ɵMarker } from './marker/

[2019-04-28 10:01] #38 closed

[2019-07-01 07:49] uittorio opened #66 "ts_auto_mock_1.createMock is not a function"
This issue happened in windows environment using git bash. the transformer is not able to find the createMock function, so it will not convert the mock.

If you run npm run test:debug it will log the differences between the paths

The ideal solution is to make sure the path comparison is environment compatible, using path join in the transformer matcher

[2019-07-06 08:20] #66 closed

[2019-07-15 19:00] greenkeeper[bot] opened #73 "An in-range update of commitlint is breaking the build 🚨"
## There have been updates to the *commitlint* monorepo:

 + - The `devDependency` [@commitlint/cli](https://github.com/conventional-changelog/commitlint) was updated from `8.0.0` to `8.1.0`.
- The `devDependency` [@commitlint/config-angular](https://github.com/conventional-changelog/commitlint) was updated from `8.0.0` to `8.1.0`.

🚨 [View failing branch](https://github.com/uittorio/ts-auto-mock/

[2019-07-17 11:49] greenkeeper[bot] opened #74 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/uittorio/ts-auto-mock/compare/master...uittorio:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2019-07-20 07:52] #74 closed

[2019-07-20 07:52] uittorio commented on #74
Resolve by latest update dependencies

[2019-07-20 07:52] #73 closed

[2019-08-18 14:33] uittorio commented on #33
Resolved by v1.2.0 release

[2019-08-18 14:33] #33 closed

[2019-10-29 03:06] joshuavial opened #81 "support interfaces with call signatures"
Great library - I've been trying to extend it to support call signatures in an interface but am getting a little lost.

This is the code that I'd like to work

[code]

I've played around with using `typeChecker.getSignaturesOfType` to get hold of the call signature but am struggling to find the right way to return a function.

https://github.com/joshuavial/ts-auto-mock/commit/21dbe1dabb9428fe716bc

[2019-10-29 08:08] uittorio commented on #81
Hi Joshua, thank you for spending time using the library and improving it. You are right, the library doesnt currently support interface call signature, however extending it to fully support it will require a bit more work because an interface can also have properties.

Let's say we have an interface
[code]

There are few requirements.
1) should be callable (like you mentioned)
2) should be able t

[2019-10-29 21:13] uittorio commented on #81
@joshuavial  I've created a PR that will solve this issue.
https://github.com/uittorio/ts-auto-mock/pull/82.

[2019-10-29 21:38] uittorio commented on #81
I've just published a new version -> 1.2.1 that will cover this scenario. I'll leave the issue open until you've tested it :)

[2019-10-30 03:47] joshuavial commented on #81
Yep, works perfectly. Thanks!

[2019-10-30 03:47] #81 closed

[2019-10-30 04:29] joshuavial opened #83 ""RangeError: Maximum call stack size exceeded" when mocking a large library"
https://github.com/joshuavial/ts-auto-mock/commit/1647fc0afa825a02eb6984f2d477b05810310188 has an example of ts-auto-mock failing to parse a fairly large definition file from mongoose (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mongoose/index.d.ts)

[code]

I'm wondering if it's a problem with the size of the definition causing the GetDeclaration recursion to overrun the

[2019-10-30 04:35] joshuavial opened #84 "Implementing VariableDeclaration"
related to #83 - when I setup the following test

[code]

It gives the following error
[code]
running it with jest-ts-auto-mock also helpfully reveals
`NOT IMPLEMENTED VariableDeclaration`

I'm happy to have a crack at implementing VariableDeclaration if that would be useful.

[2019-10-30 04:36] joshuavial commented on #84
[code]

[2019-10-30 07:14] uittorio commented on #83
The reason of this issue could be a recursive interface that ts-auto-mock is not handling correctly. I'll try to isolate the issue and let you know. Thank for the feedback

[2019-10-30 12:56] uittorio commented on #83
I've some investigation and there are plenty of unsopported features. To support that interface it will take a while and I will have to create specific bugs. I reccomend isolate the usage of Mongose to a specific functionality so you will not use this library to mock that interface.

[2019-10-30 20:11] joshuavial commented on #83
Thanks for looking in to it @uittorio - happy to help chip away at the backlog when you create it as I'd love to be able to point ts-auto-mock at arbitrary libraries. Of all the ts mocking libraries out there ts-auto-mock is the one that I most want to exist :)

[2019-11-01 13:27] uittorio commented on #83
I've found the main cause of the issue. when a type extends another type that has a property with this it will fail

[code]

I have in mind few differet solutions. I'll create an issue and I'll work on it this weekend

[2019-11-02 10:50] uittorio opened #85 "RangeError: Maximum call stack size exceeded"
When extending an interface that has this in one of his type the compiler report:
 RangeError: Maximum call stack size exceeded

[code]

after an investigation I've found out the the "this" reference refer to TestB instead of Test.
That is wrong because in javascript "this" should refer to Test when extending

[2019-11-02 10:51] uittorio commented on #85
#83

[2019-11-02 10:52] uittorio commented on #83
this issue is related to #85

[2019-11-12 13:04] uittorio commented on #84
Hi, I will start working on this issue soon.
The generics implementations to fix the majority of missing implementations of mongoose is in code reivew.
This issue is a bit tricky because it introduce multiple declaration for the same type
In this instance

[code]
I need to first understand what is this scenario, if its intended by typescript (I believe so) and in that case select the correct decla

[2019-11-13 12:44] uittorio commented on #8
To implement this feature we would have to merge two different mocks.
Any merge functionality will have to check if a field exist into an object. This will cause trigger getters of our internal mock. If the getter is a reference to a mock that has recursion it will cause Maximum call stack.

Feel free to close the issue if you are happy with the conclusion

Example
[code]

[2019-11-13 13:11] uittorio commented on #23
I had a quick thinking about what we should achieve from this task.

I think we need to understand 2 things

- What we are **reading** from typescript
- In What we are **transforming** it

Example
------- We are reading:

_**string**_
ts.LiteralTypeNode
ts.SyntaxKind.StringLiteral

------ We are converting to

**""**

I am not sure how technically we should document, but thats what I would like to

[2019-11-13 20:07] Pmyl commented on #8
I have another idea to solve this that won't trigger the getters, let's keep this open at low priority right now

[2019-11-14 18:26] uittorio opened #88 "Type Literal Reference with recursion"
this should compile correctly.

[code]

It gives an error on the compiler.

**Reason:**
The current descriptor for typeLiteral is acting as an InterfaceDeclaration.
Because of this it will replace the current this node causing any other this reference to fail.

**Solution:**
We should treat typesLiteral as a different descriptor that will not store the this value.

 #83

[2019-11-14 18:26] uittorio commented on #88
#83

[2019-11-14 18:50] uittorio opened #89 "Variable Declaration"
In typescript you can define a Variable with the same name as an interface
[code]
This should refere to Test interface and not variable.

Typescript should always use the interface and not the variable.

**Issue**
The compile fail because its trying to use variable declaration as type;
TsAutoMock doesn't distinguish about multiple declarations and will always use the first one.

Possible solution

[2019-11-14 18:51] uittorio commented on #89
#83

[2019-11-14 22:26] uittorio opened #90 "Recursion in intersection"
This Interface should be compiled correctly without giving errors

[code]
This interface is valid because an intersection (InterfaceWithIntersection & B) its just the combination of multiple types.
The current compiler is failing because is trying to resolve all the properties of an intersection type causing a maximum call stack error.

_This is what is happening_
 1) It will first resolve Interfa

[2019-11-14 22:26] uittorio commented on #90
#83

[2019-11-14 22:28] uittorio commented on #11
This is resolved by #87.

[2019-11-14 22:28] #11 closed

[2019-11-14 22:31] uittorio commented on #85
This issue has been resolved by #87

[2019-11-14 22:31] #85 closed

[2019-11-14 22:36] uittorio opened #91 "Support for type of"
_typeof_ is not currently supported and it would be nice to implement the correct value.

Example
[code]

The result of typeOf should be the var obj  with default values.
A solution would be to generate the literal type on the fly and keep in the correct scope
I am not sure yet about all the implementations and how to solve it because there are scenario that a bit more complex. For example typeof

[2019-11-14 22:36] uittorio commented on #91
#83

[2019-11-14 22:40] uittorio commented on #83
@joshuavial
Hi, I've finished the investigation related to the issue when trying to mock mongoose.
I've fixed one of them #85. It was a long one, but thank you very much for spending time writing the bug. It allows ts auto mock to be extended in a powerful way.

Mostly of the issue reference above are not blocking the usage of the library. The only one that is blocking it is Recursion in Intersect

[2019-11-17 08:12] uittorio opened #94 "Intersection types are not merge correctly"
In this scenario ts auto mock should be able to mix/merge all the properties for ABC

[code]

Right now instead it will not merge literal properties after the first level.
f and d2 will not be in the mock

Issue
Its failing because it resolving the properties of the initial intersections types that will not include the subtypes

Possible solution
Still to investigate

[2019-11-17 08:21] uittorio opened #95 "Intersection types its loosing generics"
When mocking intersections generics are not correctly applied if the same interface is used more than once in the same intersection

Example

[code]
TestB is completely ignored for 2 reason:
1) Deep merge doesnt work #94
2) generics refer always to a single type based on the declaration.

[2019-11-18 13:38] uittorio opened #96 "Performance test"
As a developer I would like to make sure that after any changes tsAutoMock will not impact too much the tests suite.

Acceptance criteria

- Specific test performance project should exist in tsAutoMock
- It should run against all the feature
- It should have enough test to cover real scenarios (1000? 10000?) - I dont know
- They should run every build

@Pmyl  is aware from early investigation that

[2019-11-21 13:07] uittorio commented on #90
this issue is resolved by #93

[2019-11-21 22:01] uittorio commented on #83
@joshuavial A new version has been released 1.3.1 that doesn't crash when using that interface. Few types will not work. Please read the documentation for more details.

[2019-11-21 22:01] uittorio commented on #89
This issue has been resolved in version 1.3.1

[2019-11-21 22:01] #89 closed

[2019-11-21 22:02] uittorio commented on #90
This issue has been resolved in version 1.3.1

[2019-11-21 22:02] #90 closed

[2019-11-21 22:02] uittorio commented on #88
This issue has been resolved in version 1.3.1

[2019-11-21 22:02] #88 closed

[2019-11-21 22:02] uittorio commented on #84
This issue has been resolved in version 1.3.1

[2019-11-21 22:02] #84 closed

[2019-11-25 08:09] uittorio opened #101 "Improve mock registration cache"
As a ts auto mock user I would like to create mocks only once if they are repeated in the code so it will be faster.

Everytime ts auto mock find a createMock<Interface> it will create a mock of Interface in the current test

_test1.test.ts_
Pseudo code:
[code]
_test2.test.ts_
When another test will need to mock Interface instead of recreating it will import repository and use the mock

[code]

Ts

[2019-11-28 08:47] rahmatrhd commented on #66
I use `mocha` and I run the test like this:

[code]

and it returned error `ts_auto_mock_1.createMock is not a function`. I'm not sure whether this is the same as your issue.

Can you elaborate more on this ☝️?

[2019-11-28 09:03] uittorio commented on #66
Hi @rahmatrhd. that error indicates that the transformer has not been applied. Do you have a repo where I can check if the configuration has been done correctly for ts-auto-mock?

[2019-11-28 09:23] Pmyl commented on #66
@rahmatrhd ts-node configuration accept custom transformers in a very similar way of awesome-typescript-loader and ts-loader, if you follow the guide that uittorio linked it should be fine.

If you can’t figure out how to do it or it doesn’t work for any other reason join us on slack, we will be available to help you! You can find the slack channel in the readme of this project

[2019-11-28 16:36] Pmyl commented on #66
@rahmatrhd I updated the guide page to include **ts-node** with **mocha** examples, you can find it here https://github.com/Typescript-TDD/ts-auto-mock/blob/master/docs/TRANSFORMER.md.

I hope it helps!

[2019-11-29 04:14] rahmatrhd commented on #66
Great thanks, @Pmyl and @uittorio !!
It's working now after I implement the transformers based on the docs!

But actually I got a different error now, I'll create an issue

[2019-11-29 04:35] rahmatrhd opened #104 "Cannot read property for 3rd party types"
I am on a Google Apps Script project using typescript and use `@types/google-apps-script` for the types. I want to create a mock object to test an apps script object locally.

[code]

but when running the test (with `mocha`) I got this error message:

[code]

Previously I tried to use an interface I created by myself at it worked. But when I am using interface from apps script (`GoogleAppsScript.S

[2019-11-29 08:41] uittorio commented on #104
@rahmatrhd Hi. I've investigated the issue and I've found out that EnumDeclaration in namespace behave differently.
[code]

I'll work on the fix later today or this weekend. Is nothing major :)

Thanks for the feedback

[2019-11-29 09:13] PavloGlazunov opened #105 "Issue with webpack live-reload"
I did and run a simple example usage of this library. I faced with runtime issue after I re-save my code then I get an error:

[2019-11-29 09:15] uittorio commented on #105
Hi @PavloGlazunov, thanks for reporting this issue.

In order to investigate it will be easier for us to see your example and how its configured. Do you have a repo on github that we can double check?

[2019-11-29 09:34] PavloGlazunov commented on #105
Yes, I have. Please, look [here](https://github.com/PavloGlazunov/TestTypescriptMocking)

[2019-11-29 10:15] Pmyl commented on #105
Thanks for the repo @PavloGlazunov !

I see that you’re using a standard webpack configuration without any test runner, live reload in that case is something we never really tested.

As far as I remember using karma watch the single file recompilation works fine so I hope this won’t be too difficult to make it work.

I’ll have a look as soon as possible

[2019-11-29 10:59] PavloGlazunov commented on #105
@Pmyl Thank you for your response. Please, keep me informed.

[2019-11-29 18:02] Pmyl commented on #105
@PavloGlazunov we have mixed news unfortunately...

The main issue here is that our internal caching doesn't work well with repeated compilation, we already have a solution in mind and we will try to implement it as soon as possible.
In the meantime the solution is to disable the cache using the configuration property `cacheBetweenTests` in this way:

[code]

There is another issue here though...

[2019-11-30 09:47] uittorio commented on #104
#106 will fix this issue :). I'll let you know when is merged and published. @rahmatrhd  Thanks again  for the feedback.

[2019-11-30 09:53] uittorio opened #107 "Improve example documentation"
One of the challenges to use ts-auto-mock is the installation.

We should provide better documentation case by case for each type of configuration

Few on top of my mind:

Jest
karma and webpack
angular-cli
webpack

and more

Feel free to comment on this issue for more potential configuration"

[2019-11-30 11:28] uittorio commented on #104
new version released :). Feel free to close the bug once you are happy with it!

[2019-11-30 11:28] uittorio commented on #83
I'll close this bug for inactivity :). Feel free to re open it if you find the same issue

[2019-11-30 11:28] #83 closed

[2019-11-30 16:10] rahmatrhd commented on #104
Awesome!! It's working now after I updated to `1.4.1`.
Thanks a lot for the help, @uittorio 🎉

[2019-11-30 16:10] #104 closed

[2019-12-09 10:14] #91 closed

[2019-12-26 23:48] abou7mied commented on #66
I'm facing the same issue even after registering the transformer to ts-node

[code]

typescript: 3.6.3
ts-node: 8.5.4
ts-auto-mock: 1.4.2
mocha: 5.2.0

[2019-12-27 09:00] uittorio commented on #66
Hi @abou7mied,

I am not familiar with mocha but if you read the guide it looks like that the register file is separated from the test files.

This is the link, did you follow the guide for ts node and mocha?

https://github.com/Typescript-TDD/ts-auto-mock/blob/master/docs/TRANSFORMER.md

It could be that i’m completely wrong.
@Pmyl may have a better idea :)

[2019-12-30 12:22] Pmyl commented on #105
Closed for housekeeping, let us know if you have any other concern.

[2019-12-30 12:22] #105 closed

[2019-12-30 12:24] Pmyl commented on #3
This functionality was added in version **1.4.2**

[2019-12-30 12:24] #3 closed

[2019-12-30 12:26] Pmyl commented on #5
@uittorio I think this is already working. The behaviour is that if something comes from typescript types it ignores it completely.

Let me know if this can be closed

[2019-12-30 12:34] Pmyl commented on #8
@uittorio I still have an idea on how to do it but I think it's not worth it from every angle.
Not worth it because other features are definitely more important.
Not worth it because it doesn't really improve performance.
Not worth it because it will probably affect the performance negatively (in my solution I would trade lines of code for run time).

I'm closing this, if we actually see people ha

[2019-12-30 12:34] #8 closed

[2019-12-30 12:50] Pmyl commented on #4
@uittorio From the automation tests I can see that [this is not failing](https://github.com/Typescript-TDD/ts-auto-mock/blob/master/test/transformer/descriptor/extends.test.ts#L73) and it's ignoring the typescript type in the same way it's been doing [for intersections](https://github.com/Typescript-TDD/ts-auto-mock/issues/5).

I think this can be closed unless you want something else to happen, l

[2019-12-30 13:13] uittorio commented on #4
We can ignore this issue with the assumption that we ignore typescript libs for extensions. If we are happy with that we can close it for now. If in the future we need the functionality we can open a new issue

[2019-12-30 13:13] uittorio commented on #5
We can ignore this issue with the assumption that we ignore typescript libs for intersections. If we are happy with that we can close it for now. If in the future we need the functionality we can open a new issue

[2019-12-30 13:14] #4 closed

[2019-12-30 13:14] #5 closed

[2019-12-31 07:46] #12 closed

[2020-01-04 10:04] uittorio opened #129 "Add support for babel (Maybe)"
When babel is used in combination with Typescript is not possible to use ts-auto-mock because the code is compiled by Babel.

This issue opened in typescirpt-is explain the scenario (https://github.com/woutervh-/typescript-is/issues/18)

A possible solution would be to write another plugin for babel

I've opened this issue as a placeholder, I'm not sure yet how much work is involved to achieve thi

[2020-01-05 15:39] uittorio commented on #96
closed by #130

[2020-01-05 15:39] #96 closed

[2020-01-06 11:43] Pmyl commented on #129
Two questions:
- what is the benefit of having Babel?
- is this benefit needed (and used) in the automation tests run?

[2020-01-06 12:14] uittorio commented on #129
You can use babel-jest instead of ts-jest to run your test. Babel is used in combination of typescript to benefit from the type safety.

[2020-01-08 07:28] sdankel opened #145 "Mocks for Typescript Types"
Oftentimes I run into issues writing unit tests for my code when it depends on types defined in a third party library. So far I haven't found any solution for this. Types are especially difficult to mock out.

I would love to be able to use this library to mock out TypeScript types. For example, a library has this type defined,

[code]

Is there any plans to support types? Thank you!

[2020-01-08 08:08] uittorio commented on #145
Hello @sdankel thank you for supporting this library.

Ts auto mock does support typescript types in almost all scenario, however it does in a different way.

We treat well known interfaces like Promise in a different way, instead of mocking all the properties of a Promise (then, catch, etc..) we create a new Promise manually.

We don't support yet typescript types in intersections or unions

For

[2020-01-08 11:00] Pmyl commented on #145
The point of this library is to automatically create a mock of any class/interface/type you want (even the `type Producer` in your example),  I think this is what you're looking for

If you want to test it and you need some guidance you can check the [setup](https://github.com/Typescript-TDD/ts-auto-mock/blob/master/docs/TRANSFORMER.md) documentation and the [readme](https://github.com/Typescript-

[2020-01-08 20:55] sdankel commented on #145
Thanks! I tried mocking the type and it was returning `undefined`.

I looked through the [docs](https://github.com/Typescript-TDD/ts-auto-mock/blob/master/docs/DETAILS.md) and didn't find an example of a mocked `type`, except when using keyIn and keyOf. Is that what I'd need to do?

Here's the [Producer](https://github.com/tulios/kafkajs/blob/1904481eefe53ce169b38420db59cc68ec819cf7/types/index.d.

[2020-01-08 22:17] uittorio commented on #145
@sdankel

I've tried to mock Producer

``` createMock<Producer>() ```

and it looks correct.

What does return undefined?

Do you mind sharing an example

[2020-01-08 22:18] Pmyl commented on #145
The `type` is called "literal" in the docs, we support it but there are some edge cases where we fallback to `undefined`.

The odd part is that Producer and Sender are normal types so it should create the mock normally...

I've installed kafkajs and ran a console log, this is what I get:
[code]

My code is:
[code]

My configuration is webpack + awesome-typescript-loader + karma

Could you tell us

[2020-01-09 00:37] sdankel commented on #145
Oh! I'm seeing that `createMock` itself is undefined. There must a problem with the package installation. I'll go ahead and close this issue.

[2020-01-09 00:37] #145 closed

[2020-01-09 06:45] uittorio commented on #145
If you need any help feel free to ask us on slack :) the installation of a transformer is not that easy

[2020-01-14 13:11] uittorio opened #171 "Replace ts lint with eslint"
tslint will be deprecated soon. We should move to eslint :)

https://github.com/palantir/tslint/issues/4904

[2020-01-15 10:26] adyz opened #177 "Question: Can we change the defaults?"
Hello,

Awesome idea with this project!

I'm trying to implement this in one of my projects and it seems to work pretty well so far.

I've seen that the mocks generated have these defaults:
https://github.com/Typescript-TDD/ts-auto-mock/blob/master/docs/DETAILS.md

I'm curious if there is a way to change all the defaults since, for example, an empty string is acting strangely in React and I'd like

[2020-01-15 10:38] uittorio commented on #177
Hi @adyz thanks for using this library :)

We currently have a registerMock that can accept Interfaces or types but not primitives.

Is definitely something we could think about it but I would like to understand a bit better your scenario

Could you give me an example in react where you need a specific string?

[2020-01-15 13:03] adyz commented on #177
Thank you @uittorio  for the fast reply.

I haven't thought too much about this, but I think that having the possibility to overwrite all the defaults would make me more confident in my tests.

One example is this React component:

[code]

If I render this with an empty string or without passing any props, the result would be the same:

[code]

I've created a code sandbox here: https://codesandbox

[2020-01-15 13:08] uittorio commented on #177
I'll share this possible feature with @Pmyl  and I'll let you know... in the mean time you can use

[code]
this will merge the specified properties (name) with the one you provide

[2020-01-15 13:13] adyz commented on #177
Thanks!
Yes, I've used this and it works great!

[2020-01-15 13:43] Pmyl commented on #177
At the beginning I thought you were talking about [Monkey Testing](https://en.wikipedia.org/wiki/Monkey_testing) that is something I'm thinking about to implement at some point, thanks for reminding me of that!

...but even with Monkey Testing anyway you could end up with an empty string because the empty strings are still a valid input for your component prop.

I think if you know that you're tes

[2020-01-16 08:54] uittorio commented on #177
@adyz Let us know if you need anything else.
@Pmyl added a note on our roadmap for monkey testing.

If you think this is not anymore an issue please close it :)

[2020-01-16 12:39] Pmyl opened #183 "Interface extends type with itself as generic - Maximum call stack size exceeded"
[code]

An example of this can be found in `@types/jquery -> misc.d.ts -> interface Animation<TElement> extends ...`

[2020-01-18 12:37] uittorio commented on #171
close by #189

[2020-01-18 12:37] #171 closed

[2020-01-29 10:32] uittorio opened #201 "Indexed access type with generics"
I've found a couple of issues related to indexed access type

[code]

Example 1

[code]

This will fail to get R[U] for 2 reasons;
- the generic is not provided
- the type parameter used to find a type R is using currently PropertySignatureCache that is meant to be used to store properties name. (I'm not sure if can always work). Example 2 give more explanation about this

Example 2

[code]

type

[2020-01-30 13:46] wassy92x opened #207 "Return null"
Hello,

I have the problem, that in one of my tests I need the return value "null".
My Interface looks like these:
[code]

When I create a new mock with
[code]

The resulting object is always:
[code]

Is it possible somehow to return null instead?

[2020-01-30 14:50] Pmyl commented on #207
Hi!
This is an interesting bug, I think it’s a problem related on how we merge the properties, it could be that “null” is interpreted as “ignore it”.

I’ll check when I get home and let you know asap

[2020-01-30 15:29] Pmyl commented on #207
@wassy92x I've found the bug in the code, I'll fix it later today and create a new version

[2020-01-30 16:21] wassy92x commented on #207
nice! Thanks for your fast response and your support!

[2020-01-30 21:19] Pmyl commented on #207
@wassy92x I've fixed it and released version 1.5.0 that is also containing other bug fixes and few new supported types!

Try to update and let us know

[2020-01-31 09:24] #207 closed

[2020-01-31 09:29] wassy92x opened #210 "For-of-loop in test"
Unfortunately I found another bug.
As soon as I create a mock of an interface, I can't use For-of-loops in my tests.
I always get an exception: "TypeError: Cannot read property 'ɵRepository' of undefined"
If I comment out createMock, the for-of-loop works correctly.

Example:
[code]

[2020-01-31 09:42] Pmyl commented on #210
Could you tell me your configuration to run it? (Webpack, jasmine, ts-loader, etc)

It could be something related to the fact that for..of creates some polyfill emits that for some reason delete our imports.

I’ll look into it unless @uittorio wants to take this

[2020-01-31 10:00] wassy92x commented on #210
My test environment is the following:
- jest-cli: 23.6.0
- jest: 23.6.0
- ts-jest: 23.10.5
- ttypescript: 1.5.10
- typescript: 3.7.3

Jest configuration:
[code]

tsconfig.json
{
  "compilerOptions": {
    "outDir": "./dist/",
    "noImplicitAny": true,
    "module": "es6",
    "target": "es5",
    "jsx": "react",
    "allowJs": true,
    "sourceMap": true,
    "lib": ["es7", "dom"],
    "downlevel

[2020-01-31 10:03] uittorio commented on #210
Wow! Really interesting issue :)

Thanks for reporting this! I can have a look thai evening and hopefully fix it

[2020-01-31 10:10] wassy92x commented on #210
For your information: I don't use your jest-ts-auto-mock package.

[2020-01-31 13:41] uittorio commented on #210
Hi @wassy92x I'm glad to tell you that we've found the issue. there is a name collision with variables. We are using a functionality for typescript that has a bug or we are using it in the wrong way.  I have a solution. I'll open the PR in few hours :)

[2020-01-31 17:30] wassy92x commented on #210
I found out that the problem doesn't occure if you set the typescript-target to minimum ES6

[2020-01-31 18:54] uittorio commented on #210
Thanks, I've just released a new version 1.5.1 of ts-auto-mock :)

[2020-02-03 19:23] #210 closed

[2020-02-07 20:43] wassy92x opened #225 "Map not supported"
Hello,

I found another problem with the Map-Class.
If I write the following code:
[code]
The resulting object doesn't have the key "c":
[code]

Is this issue known?
My environment:
- ts-auto-mock: 1.5.2
- ttypescript: 1.5.10
- typescript: 3.7.5

tsconfig.json
[code]

[2020-02-08 00:47] Pmyl commented on #225
This issue is new and very weird, I’m going to investigate

[2020-02-08 22:02] uittorio commented on #225
Hi, @wassy92x thank you again for supporting the library.

this issue has been fixed. new version 1.5.4.

Thanks @Pmyl for fixing the issue

[2020-02-10 08:36] uittorio commented on #177
As discussed we've included this issue in the roadmap

https://github.com/Typescript-TDD/ts-auto-mock/blob/master/ROADMAP.md#new-features

Closing this issue because defining the default manually its good enough :)

[2020-02-10 08:36] #177 closed

[2020-02-10 18:38] greenkeeper[bot] opened #235 "An in-range update of @typescript-eslint/eslint-plugin-tslint is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin-tslint](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/Typescript-TDD/ts-auto-mock/compare/master...Typescript-TDD:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-tslint-2.19.1).

This version is **covered** by your **current version range** and afte

[2020-02-10 18:39] greenkeeper[bot] opened #236 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/Typescript-TDD/ts-auto-mock/compare/master...Typescript-TDD:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your projec

[2020-02-10 18:40] greenkeeper[bot] opened #237 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/Typescript-TDD/ts-auto-mock/compare/master...Typescript-TDD:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.19.1).

This version is **covered** by your **current version range** and after updating it

[2020-02-12 08:51] artem1458 opened #238 "TypeError: Cannot read property '0' of undefined"
[code]
Can not extend Record, when first field in Record is ENUM, if it's string, everything's fine

[2020-02-12 18:39] uittorio commented on #238
@artem1458 thanks for reporting this bug.

There is currently an issue extending enum.

I will look into it in the next few days. Is this blocking your development?

[2020-02-12 19:38] artem1458 commented on #238
It's not blocking issue, thanks for fast anser!

[2020-02-13 19:01] #235 closed

[2020-02-13 19:01] #236 closed

[2020-02-13 19:01] #237 closed

[2020-02-16 12:52] uittorio commented on #238
I've created a couple of PR to prevent the compiler to fail.

One PR will just have a fail safe. This means that it will not mock the Mapped Type (Record) with the correct value but it will just be null. The compiler will not fail.

The second PR will fix the issue but its really bad implementation. Unfortunately I couldn't come up with a better solution because the scenario is really odd.

I hone

[2020-02-16 14:39] uittorio commented on #238
I've released a new version of ts-auto-mock 1.5.6 where the compiler doesn't fail in this scenario but the type is not supported yet.

https://typescript-tdd.github.io/ts-auto-mock/types-not-supported

[2020-02-18 18:32] uittorio commented on #225
This bug has been fixed. Feel free to re open another one if its still happening

[2020-02-18 18:32] #225 closed

[2020-02-26 03:40] sklinov commented on #66
Hi, @uittorio !
I'm facing that issue too trying to test Redux actions in Gatsby project.
I'm getting `TypeError: (0 , _tsAutoMock.createMock) is not a function`.
Here's my `tsconfig.json`
[code]
`package.json`
[code]
`jest.config.js`
[code]

[2020-02-26 04:07] uittorio commented on #66
Hi @sklinov , can you double check if ttypescript is installed ?. Unfortunately I can not look into it for the next 4 5 hours. @Pmyl may be able to help you later. In the mean time can you try to share a repo so I can find out the bug easily? Thanks in advance for using the library and the patience :)

[2020-02-26 04:13] sklinov commented on #66
@uittorio , you were right that `ttypescript` was not in my `package.json`, but adding it didn't solve the problem.
Unfortunately, I can't share the repo that easy (it's private GitLab), but can show you the necessary parts of the code.
Thanks for the quick reply!

[2020-02-26 04:38] sklinov commented on #66
@uittorio also, if that is important I have this
`jest-preprocess.js` file mentioned in `jest.config.js`
[code]

[2020-02-26 05:07] uittorio commented on #66
That is a good point, Im not sure how its compiling, if its doing typescript first or not. You could try to remove that babel pre processor to confirm it. Currently ts auto mock works only with typescript compilation. If you want to compile with babel it will not work, you can just change the pattern from tsx to jsx for babel

[2020-02-26 06:44] uittorio commented on #66
Ill try to reproduce your environment later :) thanks for all the info

[2020-02-26 07:35] sklinov commented on #66
@uittorio Thanks, I'll try to do that.
Actually, I was just trying to follow [the official Gatsby way](https://www.gatsbyjs.org/docs/unit-testing/) of testing and [this little tutorial ](https://dev.to/k0d3d/unit-testing-for-gatsby-using-jest-typescript-and-react-testing-library-i7p) as I'm using Typescript

[2020-02-27 02:39] typescripttdd commented on #66
@sklinov sorry for the late reply. I've tried to reproduce the issue but everything looks all right.

Here is a zip file with an example where I've tried to use the same configuration that you use.

[Archive.zip](https://github.com/Typescript-TDD/ts-auto-mock/files/4259208/Archive.zip)

Can you share with me your package.json and loadhershim?

[2020-02-27 05:56] sklinov commented on #66
@typescripttdd
Thanks, I'll look into your archive.
Here's my `package.json`
[code]
and `loadershim.js`
[code]

[2020-02-27 06:57] uittorio commented on #66
I can see that you have a jest config in your package json that doesnt include ts-jest for the tsx pttern match. You could try to add it also in the package json

[2020-02-28 02:23] uittorio commented on #66
@sklinov I've added a small guide for jest + ts jest. https://typescript-tdd.github.io/ts-auto-mock/installation#jest--ts-jest--ttypescript. Let me know if it helped.

[2020-02-28 06:11] sklinov commented on #66
@uittorio Thanks for adding that guide.
I've tried to reproduce the configuration from that guide and archive file you sent me earlier, but still get that `TypeError: ts_auto_mock_1.createMock is not a function`
on my test:
[code]
My thought is that it has to do with running together with Gatsby and they test config they provide.
I'll keep looking at what can I do about the config and get back if

[2020-02-28 06:13] uittorio commented on #66
I'll also try to install gatbsy and use it. Is there any starting guide that I can use?

[2020-02-28 06:18] sklinov commented on #66
@uittorio Thanks! They have this [Quick Start Guide](https://www.gatsbyjs.org/docs/quick-start/). Just make sure you have a TypeScript option on the project init. Please, let me know if you have any trouble with that.

[2020-02-29 04:21] uittorio commented on #66
@sklinov sorry for the delay. I am currently in a country where the connection is not that great. I've successfully used ts-auto-mock with gatbsy. No Babel.
Please bare in mind that we don't support yet typescript 3.8.X (I will work on that as soon as I have a better connection)

[gatbsy-test.zip](https://github.com/Typescript-TDD/ts-auto-mock/files/4269907/gatbsy-test.zip)

[2020-02-29 04:24] uittorio opened #245 "typescript 3.8.2 support"
I was trying to use typescript 3.8.2 in a gatbsy project.
I had an error  when adding a mock in a test
[code]

I've attached the code that caused the issue.

[typescript-3.8.2-issue.zip](https://github.com/Typescript-TDD/ts-auto-mock/files/4269911/typescript-3.8.2-issue.zip)

[2020-02-29 10:52] uittorio commented on #245
I’ve done some initial investigation.

There are not supposed to be breaking change in version 3.8.

The issue is when we create function expression and we pass empty array as default value instead of undefined. Ive tried to change it to undefined and it works.

[2020-03-01 12:26] uittorio commented on #107
Jest and webpack have been added to the main documentation.

[2020-03-01 13:00] uittorio commented on #245
a new version has been published. 1.5.7 with the support of typescript 3.8

[2020-03-01 13:00] #245 closed

[2020-03-02 03:38] sklinov commented on #66
@uittorio Actually your config for the Gatsby did help - so I was able to run the tests.
Thanks for your patience and support!

[2020-03-20 08:03] sklinov commented on #66
@uittorio
And it's me again, sorry.
Ran into the same issue again in 'create-react-app' application.

[configs.zip](https://github.com/Typescript-TDD/ts-auto-mock/files/4358381/configs.zip)

[2020-03-20 08:08] uittorio commented on #66
Hi @sklinov. Can you join me on slack, I can give you more support from there. [Here](https://join.slack.com/t/typescripttdd/shared_invite/enQtODk3MjQwNzUwNTk2LTMzNjdlZTNmMmY3Nzg2NDNiZDA1YzJmZjk2NjcwZjQwODQ3YzE5NGZjM2Q4MzZjYWNiMWE4MGU0NjEzM2E5YzE) the invitation link

[2020-03-27 09:36] MikeAwie opened #276 "RangeError: Maximum call stack size exceeded"
### Subject of the issue
I am trying to create a mock inside of another mock (in the default values) but getting Maximum call stack size exceeded error.
The classes I am trying to mock are sequelize models.

### Your environment
* ts-auto-mock version: 1.5.5
* typescript version: 3.3.3333
* node version: 12.15.0
* npm version: 6.13.4
* sequelize version:5.18.1

### Steps to reproduce
Call the crea

[2020-03-30 08:03] C0ZEN opened #282 "TS error on a specific class mock"
### Subject of the issue
When using `createMock` on a specific complex class, an error occurred breaking all the tests.

### Your environment
* ts-auto-mock version: 1.5.7
* typescript version: 3.8.3
* node version: 13.5.0
* npm version: 6.14.2
* ttypescript: 1.5.10
* jest-ts-auto-mock: 1.0.11
* jest: 25.2.4
* discord.js: 12.1.1

### Steps to reproduce
[code]

You can also checkout the [online ver

[2020-03-30 08:03] C0ZEN commented on #282
<sub>[View in Slack](https://typescripttdd.slack.com/archives/CQA8YHKT5/p1585552496036300)</sub>

[2020-04-10 14:20] uittorio commented on #282
Hi, good news. I've found the source of the bug.

[code]

[2020-04-10 14:24] uittorio commented on #276
@MikeAwie Hi. ! Sorry If I didn't reply earlier. Could you give me the declaration for the 2 interfaces? Model1 and Model2?

[2020-04-10 16:00] uittorio commented on #282
I've created a branch. Once it's reviewed and merge, a new version will be published :). #296

[2020-04-11 16:08] uittorio commented on #282
This is fixed in 1.6.0 :) I'll close for now. Feel free to reopen it if it's still bugged.

[2020-04-11 16:08] #282 closed

[2020-04-11 16:19] C0ZEN commented on #282
@uittorio I refactored all the Discord classes with `createMock` and for all the cases this new version is fine.
Thank you for the time and the fix, this is very nice.

[2020-04-11 16:22] uittorio commented on #282
Cool! bear in mind that some types are not working in discord.. it will convert to null :) hopefully it will not impact your code

[2020-04-15 15:21] magnusart commented on #276
I'm seeing a similar error, I cant say 100% sure it is the same error but it looks very similar.

My code looks like this
[code]

The output is
[code]

[2020-04-15 17:19] uittorio commented on #276
I @magnusart , thanks for the report. In your scenario, the issue is related to this one. #113
Not sure when it will be fixed, it's not an easy one :)

[2020-05-14 21:26] uittorio commented on #276
Hi @magnusart this issue should be now fixed :) you can try to use the new version 2.0.0 of ts-auto-mock.

[2020-05-24 16:34] C0ZEN opened #335 "Missing changelog for 2.1.0 version"
### Subject of the issue
The changelog for the `2.1.0` version is missing.

### Expected behavior
The master CHANGELOG.md should have a release notes for the tag `2.1.0`.

**Note:**
Remember once the CHANGELOG.md updated, the published npm package should also be updated.

[2020-05-24 18:05] uittorio commented on #335
Hi @C0ZEN, thanks . The process is completely automated by github actions :) I'll have a look

[2020-05-25 12:32] uittorio commented on #335
This is now partially fixed. I'm enforcing to recreating the changelog every time there is a new version. I'll think about when I have more time a better solution

[2020-05-25 12:41] C0ZEN commented on #335
@uittorio if you are willing to use semantic release I could provide a PR unless you have a very specific reason to use automated but selfmade versioning.

[2020-05-25 12:57] uittorio commented on #335
Yes, I'll be happy to use semantic releases. I was a bit nervous about it when we first started this project but I think now it's mature enough to have automated semantic releases. I am not sure how it will work with breaking changes. Can you still write down breaking changes in the commit message and then it will be reflected in the changelog or we still need something like conventional-changelog

[2020-05-25 13:18] C0ZEN commented on #335
From the moment you think about it when you wrote down your commits everything will be fine, semantic will also handled the breaking changes.
Then it is settle I will provide a PR with semantic release and commitizen configuration.
I will open an issue for that.

[2020-05-25 13:18] #335 closed

[2020-05-25 13:18] uittorio commented on #335
Thanks! really appreciate it :)

[2020-05-25 13:19] C0ZEN opened #337 "[Feature] Configure semantic release"
See https://github.com/Typescript-TDD/ts-auto-mock/issues/335.

@uittorio is ok to use semantic release and I will provide an initial configuration to replace the existing release workflow.

[2020-05-25 17:44] Pmyl opened #339 "Support for computer enum values"
### Subject of the issue
Right now computed enum values don't work. This bug is not too problematic since it doesn't break the tests.

### Your environment
* ts-auto-mock version: 2.1.22

### Steps to reproduce
I found out that enums can have computed values... and we don't support them, we return assign 0 to the property if the value is computed.
[code]
All these tests will fail because the prope

[2020-05-25 17:45] uittorio commented on #339
I love it :) we always learn new things from typescript :)

[2020-05-25 18:11] C0ZEN opened #340 "[Feature] Add a new template to provide a feature request"
The only possible template when opening an issue is an issue template.
Having a feature request template could be pretty convenient (as I am writing this for example, I do not have any guidelines on how you would like me to write it down).
This is always more welcoming to have a structure especially when opening an issue in a new repo.

Anyway, if you are ok with that I can provide a small and qui

[2020-05-25 18:13] C0ZEN opened #341 "[Feature] CONTRIBUTING.md"
Usually, all open source projects have a `CONTRIBUTING.md` file to describe how to contribute (make sense).
I was searching for this file when I saw that the documentation was containing the contribution guidelines.
Maybe creating this file and linking the docs could avoid this search for others.

If you are ok with that I can create a small PR to add this.

[2020-05-25 19:02] uittorio commented on #340
thanks. I've added the template for bugs but not for features :)

[2020-05-25 20:50] C0ZEN commented on #337
PR ready.

[2020-05-25 20:55] C0ZEN commented on #340
PR provided.

[2020-05-25 20:59] C0ZEN commented on #341
PR provided.

[2020-05-26 06:28] #341 closed

[2020-05-26 06:56] #340 closed

[2020-05-31 08:27] #337 closed

[2020-06-23 23:06] Manu1400 opened #396 "npm run install-types is slow"
### Subject of the issue
The command `npm run install-types` on definitelyTypedTests directory run `git clone https://github.com/DefinitelyTyped/DefinitelyTyped.git ../DefinitelyTyped` command but it's so slow.

### Your environment
* ts-auto-mock version: lasted

### Steps to reproduce
1. `cd definitelyTypedTests/`
2. `npm install` on definitelyTypedTests directory
3. `npm run install-types` to i

[2020-06-23 23:10] Manu1400 commented on #396
Like in https://github.com/microsoft/DefinitelyTyped-tools/blob/0cdd21e86d1fd9675fa91e8870ec7e88712d6734/packages/definitions-parser/src/git.ts#L34

[2020-06-23 23:26] Manu1400 commented on #396
In verbose mode:

[2020-06-24 04:11] uittorio commented on #396
@Manu1400 thanks for opening this issue :) we'll fix that soon! I didn't know about --depth

[2020-06-24 04:54] uittorio commented on #396
I've opened a PR. I've decided to use 1 instead of 10. Is there any reason why you've shown 10 in the example?

https://github.com/Typescript-TDD/ts-auto-mock/pull/399

[2020-06-26 04:16] yosiawan opened #402 "Running test after compiling produces "ts_auto_mock_1.createMock is not a function" error"
### Subject of the issue
Failed to mock on production build codes

### Your environment
        "ts-auto-mock": "^2.2.8",
        "typescript": "^3.7.4"
* node version: 12.3.1
* npm version: 6.9.0

### Steps to reproduce
- run ```npm build``` (runs ```jest```)
- run ```npm run test``` (runs ```tsc```)

Code before build
[code]
Code after build
[code]

### Expected behavior
ts auto mock runs withou

[2020-06-26 11:11] uittorio commented on #402
Hi @yosiawan. Thank you for reporting the issue.

The code after build indicates that the ts-auto-mock transformer was not applied when compiling.

Could you share your test configuration? Do you have a repo you could share?

If you are not sure how to make sure that the transformer is added a compile time you can follow this guide.
https://typescript-tdd.github.io/ts-auto-mock/installation

[2020-06-26 20:48] Pmyl commented on #396
PR #339 merged in master, @Manu1400 let me know if it does what you expect so I can close this issue

[2020-06-27 16:24] uittorio commented on #276
Hi @MikeAwie, this should be fixed. I'll close for inactivity

[2020-06-27 16:24] #276 closed

[2020-06-27 16:26] uittorio commented on #23
This issue should be reviewed again. I don't think we had problem understanding the code base in while. I'll close it.

@Pmyl feel free to open it again if you think is necessary.

[2020-06-27 16:26] #23 closed

[2020-06-27 16:27] uittorio commented on #107
I think we've improved the documentation in the last few months. I would open new specific issue for specific testing framework when needed.

[2020-06-27 16:27] #107 closed

[2020-06-27 16:28] uittorio commented on #129
We don't have any plan to create a transformer for babel.

[2020-06-27 16:28] #129 closed

[2020-06-27 16:31] uittorio commented on #183
This issue is partially resolved or at least is rescoped to the fact that we don't support yet circular dependencies in generics, specifically a type that has itself in the generics.

@martinjlowm is working on a PR that will give us this functionality.

In the meantime the feature is not supported and is documented [here](https://typescript-tdd.github.io/ts-auto-mock/types-not-supported#circular-

[2020-06-27 16:31] #183 closed

[2020-06-29 07:39] yosiawan commented on #402
Hi @uittorio , thank you for your reply. Sorry but I cannot share my repo. I have followed the guide in the link you provided with no luck, am I missing something or am I using incompatible version of dependencies? Here are my configs

tsconfig.json
[code]
jest.config.js
[code]
package.json
[code]
jest-ts-auto-mock.config.json
[code]

[2020-06-29 11:58] uittorio commented on #402
Hi @yosiawan. i've tried to replicate your issue using your configuration but unfortunately is working.
I've notice one small details.

[code]

In this config the setupFiles is in the wrong object.
it should be like this

[code]

Is your config file called jest.config.js?

[2020-06-29 12:14] yosiawan commented on #402
Yes, my config file is jest.config.js and no I didn't have any other config in my package.json. I have fixed my config as you said, delete the build code, rebuild it, and ran the test again and it still won't compile into the right code.

[2020-06-29 12:20] uittorio commented on #402
I think you need to add ts-auto-mock it as devDependency but I can see that your package.json already has it.

[2020-06-29 12:23] uittorio commented on #402
Could you show me one of your test? I just need the import from ts-auto-mock and the creation of the mock.

[2020-06-29 12:27] uittorio commented on #402
@yosiawan

I don't know if is relevant but your code should be built as part of the jest run. If you build the code with just tsc it will not compile correctly. If you want to compile with the transformer you have to use
[code]

instead of

[code]

Does it make sense?

[2020-06-29 12:28] yosiawan commented on #402
Ah, that makes sense. Let me try switching tsc for ttsc.

[2020-06-29 12:32] yosiawan commented on #402
Ah it worked perfectly ! I am really sorry this is a silly mistake on my end.

Thank you!

[2020-06-29 12:32] #402 closed

[2020-06-29 12:34] uittorio commented on #402
@yosiawan No problem at all! I would be interested to understand why you need to run tsc first! there may be a use case that we want to document a bit better!

[2020-06-29 12:39] yosiawan commented on #402
Do you mean why I run tsc before running my tests? It's because we would like to test our compiled code to be sure that the code will still run as intended after compiling it.

[2020-06-29 12:41] uittorio commented on #402
@yosiawan for testing purposes ts-jest compiles the code for you. I believe running tsc is not necessary before running the tests.

[2020-06-29 12:47] yosiawan commented on #402
Oh really? Alright then, I'll switch over to just running my tests.

Thanks again!

[2020-07-16 06:53] uittorio commented on #396
Closing because is fixed :) Thanks again for the feedback!

[2020-07-16 06:53] #396 closed

[2020-08-08 06:52] C0ZEN opened #458 "[Need help] Overriding values; Having hard times with a type error (possible issue)"
### Subject of the issue
I would like to override a mock value but TypeScript is crying about bad typing.
Nevertheless it seems that what I did is good and should be possible.
So I do not know if this is a logical error or a problem with the `createMock` function.

**Interface:**

[code]

**Enum:**

[code]

**Test:**

[code]

Basically I need to be sure that the Firebase guild has a version of `2`

[2020-08-08 10:05] uittorio commented on #458
Hi :)! It looks odd. I'll have a look soon. It could be that we are using A wrong implementation of DeepPartial

[2020-08-08 10:38] C0ZEN commented on #458
Seems so simple yet it is not working that I just wish for you that this not a brain killer problem 😨
Should be quite simple to reproduce though.
Reach me if you need testing or more information.
Thanks!

[2020-08-08 11:28] uittorio commented on #458
I couldnt reproduce the bug yet, Could you share your tsconfig.json ? Thanks

[2020-08-08 14:54] C0ZEN commented on #458
@uittorio here it is.
If you want me you let me know and I can provide a reproduction.

**tsconfig.json:**
[code]

**jest.config.js:**
[code]

[2020-08-08 16:08] uittorio commented on #458
Hi, I'm not sure is related but tslibs doesnt play well with the transformers.

[2020-08-08 16:21] uittorio commented on #458
@C0ZEN, unfortunately I'm not able to reproduce it with your configuration. Do you mind opening a small repo so I can check?? thanks :P

[2020-08-08 19:24] C0ZEN commented on #458
@uittorio I had struggle to reproduce the error and was doubting my code/tests and finally I found out the culprit.
This is only related to the `extends DocumentData` and you could never have found out since I have not included it in the issue.

Despite the simple type behind it:

[code]

The problem is related to the import.
I created an identical type and no problem at all.
Meaning that the way

[2020-08-08 21:15] uittorio commented on #458
Wow :)

The current implementation of DeepPartial in ts-auto-mock doesn't work in this scenario. I've tried to use [this one](https://github.com/sindresorhus/type-fest/blob/master/source/partial-deep.d.ts) recommended by @Pmyl and it works. I'll create a small PR tomorrow to fix it.

[2020-08-08 22:05] C0ZEN commented on #458
Ok then it is settled.
Thank you for your time.

[2020-08-09 10:38] uittorio commented on #458
A new version has been released :) Let me know how it goes. version => 2.3.4

[2020-08-09 10:52] C0ZEN commented on #458
@uittorio This is all good now, thank you!

[2020-08-09 10:52] #458 closed

[2020-08-09 10:59] C0ZEN commented on #458
@uittorio This new release is now causing an error elsewhere which has nothing to do.
I am checking it to see if this is legitimate or if the new type brings a new error.
If this is the second case I will open a new issue.

[2020-08-09 11:07] C0ZEN opened #464 "[Issue] Version 2.3.4 created a type error with the `createMock` function"
### Subject of the issue
The latest release [2.3.4](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.3.4) related to the issue #458 fixed an error and also created a new one.

### Your environment
* ts-auto-mock version: 2.3.4
* typescript version: 3.9.7
* node version: 13.7.0
* npm version: 6.14.6

### Steps to reproduce

**Test:**

[code]

The new error is on `user`

**Error:**
[cod

[2020-08-09 12:05] uittorio commented on #464
hi @C0ZEN, could you share the type of setPresenceMock?

[2020-08-09 12:09] C0ZEN commented on #464
@uittorio if you need all these data I think that the best solution is to give you a complete reproduction.
Note that all types are coming from firebase-admin package though.

[2020-08-09 12:09] uittorio commented on #464
I'll just install firebase-admin then!! thanks :P

[2020-08-09 12:18] uittorio commented on #464
I've tried to install firebase-admin, but I couldn't find those types.  Sorry to bother you again, I just need the imports references of those. Thanks

[2020-08-09 12:21] C0ZEN commented on #464
@uittorio oh sorry I meant discord.js

[2020-08-09 12:27] C0ZEN commented on #464
@uittorio the reproduction is available: https://github.com/C0ZEN/ts-auto-mock-issue-464

[2020-08-09 15:07] uittorio commented on #464
Cool, thanks @C0ZEN.

The issue is related to the default implementation in an object of valueOf.

The deepPartial that has been added in 2.2.4 is much smarter and it does consider functions. `objects` have by default valueOf.

I'm not sure yet 100% if there is a way to workaround that in the deepPartial. I'll let you know.

In the meantime I would recommend to cast the type.

[2020-08-09 15:17] C0ZEN commented on #464
Workaround for now.

[code]

[2020-08-09 15:24] C0ZEN commented on #464
@uittorio I hope what you will be able to fix it because this new error breaks a lot of existing tests and is more painful than the previous error before the release.
I will still force the casting and mark all the tests with a todo.
Moreover this new version could eventually breaks other projects too 😢

[2020-08-09 16:25] uittorio commented on #464
Yeah, I agree! I didn't realise that this change may impact a lot of scenario, I thought it was just a better type :).

I'll make the Partial Deep more relaxed to avoid these scenarios until we've found a better solution

[2020-08-15 18:59] C0ZEN opened #471 "[Issue] Type instantiation is excessively deep and possibly infinite while using `createMock`"
### Subject of the issue

This is related to a type issue when using the `createMock` function with discord.js.
They landed a new version [12.3.0](https://github.com/discordjs/discord.js/releases/12.3.0) and there is an issue visible on [this project](https://github.com/Sonia-corporation/il-est-midi-discord/pull/758).

**Test:**

`createMock<Client>()`

Client is from `discord.js`.

**Error:**

`T

[2020-08-16 09:31] uittorio commented on #471
Hi @C0ZEN. Sorry to get back to you late, I had a busy week. I am looking into this issue and https://github.com/Typescript-TDD/ts-auto-mock/issues/464

[2020-08-16 09:51] C0ZEN commented on #471
@uittorio no problem this is not blocking on my side so take your time.

[2020-08-16 11:17] uittorio commented on #471
It looks like there is an issue on Typescript. I am not sure it is the same issue but It has been added to typescript 4.0.1 milestone https://github.com/microsoft/TypeScript/issues/34933.

[2020-08-16 11:23] uittorio commented on #464
@C0ZEN . I've reproduce the issue just using Partial from typescript

[code]

[2020-08-16 11:30] uittorio commented on #471
I've noticed that without the casting everything is working

[2020-08-16 11:37] C0ZEN commented on #464
@uittorio I am glad to see that with such a frequently type the error can be reproduced.
I hope that you will come with a solution 🙏🏻

[2020-08-16 11:40] C0ZEN commented on #471
@uittorio nice catch.
As I said I am not in a hurry to update discord.js but can you tell me what is the best option here for me?
Wait that you come up with a solution - with the TypeScript error I suppose you will wait -, wait for TypeScript to come up with a solution or just add the `valueOf` like above?

[2020-08-16 11:45] uittorio commented on #464
In my opinion the best approach, for now, its to re implement valueOf. That would also solve the Infinite issue that you are facing and you can remove the casting.

[code]

[2020-08-16 11:51] uittorio commented on #471
https://github.com/Typescript-TDD/ts-auto-mock/issues/464#issuecomment-674516498 I think this would be the best approach if you want to update to the new discord version

[2020-08-16 11:51] C0ZEN commented on #464
@uittorio ok it seems to me that indeed if both issues can be solved with creating the `valueOf` this is the best course of action.
Do you think that this is a good idea to open an issue in discord.js about the type error of the `valueOf`? They could maybe find a solution to change it and avoid this. Long shot but I can open an issue we never know.

Also even if there is a workaround could you ple

[2020-08-16 11:53] uittorio commented on #464
I don't think it's an issue on Discord js. They are entitled to override valueOf. I'll keep these issues open. We'll try and find a better approach :) Thanks for investigating and reporting those issues.

[2020-08-16 13:36] Pmyl commented on #464
I realised that the problem is in how javascript works. When you create a new object with `{}` you're actially creating an object with prototype Object, meaning that in the type you also have methods like `toString` and `valueOf`.

This means that when you write:
[code]
in terms of typings is the same as writing:
[code]

Object is defined like this:
[code]

so this happens:
[code]

The type of `va

[2020-08-26 15:52] C0ZEN opened #487 "[Docs] Missing TsAutoMockOptions.debug `console` value documentation"
### Subject of the issue
When checking the documentation about the [config](https://typescript-tdd.github.io/ts-auto-mock/config) the type example `TsAutoMockOptions` show that the `debug` property can have a `console` value.
Yet on the array below there is no entry for the `console` value.

### Steps to reproduce
Check the documentation for the [config](https://typescript-tdd.github.io/ts-auto-mo

[2020-08-26 16:01] C0ZEN opened #488 "[Feature] Enhance the logs for unsupported types"
**Is your feature request related to a problem?**
The configuration option `debug` when set to `console` display a lot of warnings on my project.
Based on the documentation, this option could help to debug and also create PRs for unsupported types.
Yet the log is simply `WARNING: Transformer - Not supported type: TypeOperator - it will convert to null` which basically is useless to identify which

[2020-08-26 16:05] uittorio commented on #488
Hi @C0ZEN , thanks for reporting the issue.

When i try to understand what is the root cause of an error, I actually try to get the type name at least. It's a really good point. There should be a functionality to print the name already but we are not exposing it yet in the logger. Feel free to open a PR if you have time or I'll try to find some time soon

[2020-08-26 16:13] C0ZEN commented on #487
@uittorio if `console` is the same as `true` I can change the docs in a PR.

[2020-08-26 16:15] C0ZEN commented on #488
@uittorio I could take a look tomorrow to provide a PR.

[2020-08-26 16:24] C0ZEN opened #489 "[Contributing] ESLint failed"
### Subject of the issue
Running `npm run eslint`.
It failed.

### Expected behavior
No error.

### Actual behavior
[code]

[2020-08-26 16:27] C0ZEN opened #490 "[Contributing] Prettier failed"
### Subject of the issue
Running `npm run prettier:fix`.
It failed.

### Expected behavior
No error.

### Actual behavior
[code]

[2020-08-27 08:07] C0ZEN commented on #490
I created a fix for this one.

[2020-08-27 08:09] C0ZEN commented on #489
I created a fix for this one.

[2020-08-27 08:14] C0ZEN commented on #487
I created a fix for this one.

[2020-08-27 10:02] C0ZEN opened #493 "[Issue] The transformer couldn't determine a property value for `protected _description;` without a specified type nor an initializer value."
### Subject of the issue
Having the error `The transformer couldn't determine a property value for `protected _description;' without a specified type nor an initializer value.`.
Description is a string...

Any hint on how to debug it?
You provide a reproduction if necessary.

Also, note that there is a small issue with the ticks around the property.
Left is a backtick and right is a tick.

### You

[2020-08-27 10:05] C0ZEN opened #494 "[Issue] Use backticks around the value when the transformer fail"
### Subject of the issue
When having an error like:
The transformer couldn't determine a property value for `protected _description;' without a specified type nor an initializer value.

The ticks around the value are not identical.

### Expected behavior
Same ticks.

### Actual behavior
Not the same ticks.

[2020-08-27 10:06] C0ZEN commented on #493
Opened issue #494 for the backticks problem.

[2020-08-27 13:24] C0ZEN commented on #494
I created a fix for this one.

[2020-08-27 13:47] #493 closed

[2020-08-30 18:38] C0ZEN opened #498 "[Issue] The new version `2.3.5` is causing multiple type of errors"
### Subject of the issue

- `RangeError: Maximum call stack size exceeded` (wtf)
- `TypeError: Cannot set property 'user' of undefined` on created objects with `createMock` (not logic)

### Your environment
* ts-auto-mock version: 2.3.5
* typescript version: 4.0.2

### Steps to reproduce
Check this [PR](https://github.com/Sonia-corporation/il-est-midi-discord/pull/886) and precisely the [failing a

[2020-08-30 19:08] uittorio commented on #498
Wow, it could be the fact that we've updated typescript to version 4 :). Hopefully, we will add more tests based on your scenario to cover whatever is failing. I'll try now but I may fix it tomorrow morning

[2020-08-30 19:36] C0ZEN commented on #498
@uittorio thank you and don't worry there is no rush on my hand.

[2020-08-31 08:48] uittorio commented on #498
From a first look it seems like the issue is related to the createMock inside the partial values

I've reproduce the issue by doing this

[code]

I'll keep you posted :)

[2020-08-31 09:00] uittorio commented on #498
this is the actual bug without using discordjs
Unfortunately when we resolve the default values that you provide when creating a mock we are using lodash merge that will trigger all the getter of the mock. In your case, activity has recursive types, causing the mock to explode :)
[code]

Quick solution for you? Do not create Activity with createMock, you can do it manually.
Real solution? Not sure

[2020-09-01 08:17] uittorio commented on #471
This should be fixed now by 2.3.5.. @C0ZEN feel free to close it once you get the chance to confirm that is working :)

[2020-09-01 08:27] C0ZEN commented on #471
@uittorio I will give it a try tonight and if all good I will close this PR.
Thanks for the fix.

[2020-09-01 10:39] C0ZEN opened #501 "[Feature] Allow `docs` commit type"
**Is your feature request related to a problem?**
We should be able to commit with the `docs` type.

**Describe the solution you'd like**
Add `docs` into the white list of commit types.

[2020-09-01 11:06] #471 closed

[2020-09-05 11:26] #489 closed

[2020-09-05 11:32] #490 closed

[2020-09-05 11:36] #501 closed

[2020-09-05 11:55] #487 closed

[2020-09-09 08:08] typescripttdd commented on #490
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.4.0)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 08:08] typescripttdd commented on #501
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.4.0)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 08:08] typescripttdd commented on #487
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.4.0)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 08:08] typescripttdd commented on #489
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.4.0)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 08:22] C0ZEN commented on #494
Done in #513.

[2020-09-09 08:22] #494 closed

[2020-09-09 08:31] C0ZEN commented on #488
Done in #513.

[2020-09-09 08:31] #488 closed

[2020-09-09 09:05] uittorio commented on #464
Are we okay to close this one? @C0ZEN

[2020-09-09 09:10] C0ZEN commented on #464
Indeed the #474 fixed this issue.

[2020-09-09 09:10] #464 closed

[2020-09-09 16:35] Pmyl commented on #238
can we close this one? It doesn't give error anymore and the fact that the type is unsupported is now in the documentation

[2020-09-09 18:27] #238 closed

[2020-09-12 16:24] #498 closed

[2020-09-12 16:26] typescripttdd commented on #498
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.5.1)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-12 16:27] Pmyl commented on #498
@C0ZEN this issue should be fixed in the new version, if it's still broken let me know!

[2020-09-13 16:53] Pmyl commented on #339
Half of this is solved by #526

[2020-09-15 12:49] C0ZEN commented on #498
@Pmyl seems like this is fixed, thank you!

[2020-09-17 21:57] ColinCee opened #557 "TypeError: Cannot read property 'map' of undefined"
### Subject of the issue
After upgrading from v2.0.0 to v2.6.3 this started happening.

Highly likely related to https://github.com/Typescript-TDD/ts-auto-mock/issues/498 as I tried upgrading to typescript v4 and it worked fine.

### Your environment
* ts-auto-mock version: 2.6.3
* typescript version: 3.9.2
* node version: 12.18.3
* npm version: 6.14.6
* list any other dependencies that you think

[2020-09-17 22:00] Pmyl commented on #557
Hi, could you tell me where does the type "VoiceConnection" comes from so that I can test it locally?

[2020-09-17 22:07] ColinCee commented on #557
Hey, it's from [discord.js](https://github.com/discordjs/discord.js), I'm using `v12.3.1`

[2020-09-18 07:59] Pmyl commented on #557
We made a mistake when upgrading typescript version, I'm sorry.
We're going to do 2 things:
- new patch version with a bug fix to support both typescript 4 and typescript 3
- new major version to end the support to typescript 3 and only support 4+
I should be able to do that by today (it's morning here).

[2020-09-18 16:40] #557 closed

[2020-09-18 16:48] Pmyl commented on #557
The release died for some reason, I'll fix something else and we will have the fix for this released correctly

[2020-09-18 20:23] typescripttdd commented on #557
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.6.4)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-18 20:24] Pmyl commented on #557
@ColinCee let me know if the new version works :D

[2020-10-01 00:15] ChrisKanaganayagam-AI opened #595 "createMockList() returns undefined when called with a passed-in function argument"
I have a bit of a weird issue when calling createMockList. Whenever I call createMockList with an argument passed into a function denoting how many of the objects I'd like to create, createMockList returns undefined. There are no issues if I hardcode the number in createMockList. Since a picture (or code in this case) might be worth a thousand words, here's something I quickly hacked together to h

[2020-10-01 07:19] uittorio commented on #595
hi @ChrisKanaganayagam-AI ! Thanks for reporting the issue :)

I confirm that it's an issue. We currently try to understand the number using the typescript AST. In the scenario where you send a value from another function, it doesn't recognize the 'number'.

This is the code that does not translate correctly the number: [here](https://github.com/Typescript-TDD/ts-auto-mock/blob/master/src/transfor

[2020-10-01 17:52] ChrisKanaganayagam-AI commented on #595
Thanks for looking into this so quickly @uittorio . Much appreciated! :)

[2020-10-08 09:59] #595 closed

[2020-10-08 10:03] typescripttdd commented on #595
:tada: This issue has been resolved in version 2.6.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.6.5)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.6.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-08 10:47] uittorio commented on #595
Just released @ChrisKanaganayagam-AI !! 💚  💚  💚  💚  💚

[2020-10-16 22:43] gilbsgilbs opened #598 "[Feature request] CLI mode"
**Is your feature request related to a problem?**

I don't want to migrate my project to ttypescript just for mocking stuff. Also, it's sometimes very inconvenient to setup ttypescript (for instance with create-react-app).

**Describe the solution you'd like**

I think a realistic solution would be to provide a CLI command that discovers the project's interfaces and output their corresponding mock

[2020-10-17 21:21] C0ZEN opened #599 "[Idea] Add a bug or a feat label on issues automatically"
**Describe the solution you'd like**
When a new issue is created, add automatically a `bug` or a `feat` label based on AI and the issue content.
A small yet useful information visible without checking the whole issue content.
Also a great way to have statistics about the kind of issues opened via GitHub labels.

P.S: yeah I know that there is two templates so the information is already there but l

[2020-10-17 21:25] C0ZEN opened #600 "[Idea] Integrate with Contributors to show an hall of fame from contributors"
**Describe the solution you'd like**
Because most people doing open source contribution like a bit of fame.
Also because hall of fame is cool.
Just add an hall of fame at the bottom of the readme.

**Additional context**
Done it into another project so just tell me if you are okay with this and I will provide a fast and small PR.

[2020-10-18 17:41] uittorio commented on #600
I like the idea!!! Can we also include the profile picture of the users that contributed to the repo?

[2020-10-18 17:43] uittorio commented on #598
Hi @gilbsgilbs!! Currently, ts-auto-mock is quite integrated with the test file you are using. The mocks are created inside the test files. I think it would be useful to use ts-auto-mock in the way you are describing it. I understand the scenario that you are providing, there is only one thing that I don't quite follow.

How would you then imports these mocks in your tests? Would use __fixtures__/

[2020-10-18 18:12] gilbsgilbs commented on #598
Hi @uittorio :wave: thanks for your reply.

Well, I used `__fixtures__/gen/mocks` as an example but that's probably weird. What I really meant was that you would generate them anywhere you want, say `src/gen/mocks/UserMock.ts`. As they would be regular TS file, you would then import them normally:

[code]

FYI, there's [intermock](https://github.com/google/intermock) that works a bit that way but

[2020-10-18 20:15] C0ZEN commented on #600
@uittorio yeah, the profile picture will be included.
Take a look here https://github.com/all-contributors/all-contributors if you want more information.
I will provide a PR right away.

[2020-10-20 17:16] ChrisKanaganayagam-AI commented on #595
Thank you very much @uittorio . Much appreciated sir!

[2020-10-25 10:15] #600 closed

[2020-11-06 15:51] BrunoBeraudPW opened #603 "createMockList doesn't accept variable as parameter"
### Subject of the issue
The createMockList function does not seem to accept a variable as a parameter of the array size.

### Your environment
* ts-auto-mock version: 2.6.4
* typescript version: 3.7.5
* node version: 12.15.0
* npm version: 6.13.4

Used in angular 9.1.12 context with jasmine  3.5.14

### Steps to reproduce
    const nb = 2;
    interface Person {
      id: string;
    }
    const

[2020-11-06 16:04] Pmyl commented on #603
This is fixed in version 2.6.5, try to update the library and let me know

[2020-11-06 16:29] BrunoBeraudPW commented on #603
Yes in deed perfect, thank you and sorry for the inconvenience

[2020-11-06 16:29] #603 closed

[2020-12-03 10:10] BrunoBeraudPW opened #604 "Unable to mock opaque type"
### Subject of the issue
Hello,
I found that auto-mock are not able to mock opaque type.
It's too bad because opaque type could be really an useful practice in typescript application
When I will have more time I'll try to found a solution to fix that.
Thank you for reading !

### Your environment
* ts-auto-mock version: 2.6.5
* typescript version: 3.7.5
* node version: 12.15.0
* npm version: 6.13.

[2020-12-03 15:22] uittorio commented on #604
Hi @BrunoBeraudPW . Thank you for reporting the issue. We default any intersection types with undefined. When it is useful to have string & {} (any interface) ? opaque type like `type B = number` it will work.

[2020-12-03 16:45] BrunoBeraudPW commented on #604
Hey, I use this implementation to have a strong Type protection for the arguments or return of my methods and classes

    type A = string & {type: 'a'};
    const test = (a: A): void => {}
    const myString  = "s";
    test(myString); // <= will raise an error
----------------------------------------
    type B = string;
    const test = (a: B): void => {}
    const myString = "s";
    test(mySt

[2020-12-03 18:45] uittorio commented on #604
I've only used opaque types once, i am not realy expert. Can you provide the actual implementation if the type that you are using? I want to understand how we should build the mock :) thanks!

[2020-12-04 07:58] uittorio commented on #604
Nevermind, i've found an example, i'll update this issue this weekend :)

[2020-12-04 09:36] BrunoBeraudPW commented on #604
Thank for your reactivity !

(My implementation is that

      type Opaque<K, T> = T & { type: K };
      export type Sku = Opaque<'Sku', string>;
)

[2020-12-07 11:38] Pmyl commented on #604
@BrunoBeraudPW what would you expect the variable to be, a string or an object with "type" property?
Since the library generates data we need to understand what is actually a piece of data that we need to create in Javascript.

Is this opaque type a hack while waiting for [this Typescript feature](https://github.com/Microsoft/TypeScript/issues/202)?

[2020-12-07 11:55] Pmyl commented on #604
I have an idea... you can make this work using the `registerMock`.
Basically you register the opaque type to always be mocked in your own way:
[code]

I know it's not super ideal because for every opaque type you have to have a `registerMock` but if you have just a small amount this could be a solution

[2020-12-07 15:24] BrunoBeraudPW commented on #604
@Pmyl Yeah it's exactly this feature (nominal type)
Very good point for registerMock, I wasn't aware that was existing :D
It's going to help me out.

After thinking, I think it's impossible to have a generic behavior to manage opaque type in ts-auto-mock because precisely, we could have many implementation of opaque type.
Otherwise, you could define an unique implementation of opaque type which wi

[2020-12-08 18:12] Pmyl commented on #604
@BrunoBeraudPW I'm adding a feature that will allow you to configure `registerMock` only once to solve the Opaque type problem: #605
I hope it helps

[2020-12-08 20:57] typescripttdd commented on #600
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/2.7.0)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-09 07:59] uittorio commented on #604
@Pmyl thanks for looking into the issue and finding a quick nice solution :)

[2020-12-09 09:06] BrunoBeraudPW commented on #604
Damn you rock !
Thx a lot for this quick feature !
I think we can close the ticket

[2020-12-09 09:06] #604 closed

[2020-12-09 10:54] BrunoBeraudPW commented on #604
Ooops, so it's work well but I'm stuck in an another problem, I have an error when I use registerMock in a "common file" :

     An error was thrown in afterAll
     TypeError: ts_auto_mock_repository__WEBPACK_IMPORTED_MODULE_0__.ɵRepository.instance.getFactory(...) is not a function
     at Object.get (http://localhost:9876/_karma_webpack_/main.js:19918:174)
     at Eo (http://localhost:9876/_kar

[2020-12-09 14:00] uittorio commented on #604
Hi, could you try again with the cacheBetweenFiles option enabled?

[2020-12-09 14:01] uittorio commented on #604
If you are using angular with the entry test file the cache should work correctly

[2020-12-09 15:18] BrunoBeraudPW commented on #604
In deed it's working now, thank you all !

[2020-12-11 14:30] BrunoBeraudPW commented on #604
Hi, sorry me again...

It seem that since I have turned on the cache, I have an issue with the hotreload for karma test
Seem to be related to https://github.com/Typescript-TDD/ts-auto-mock/issues/105
I have the same error than before, but only when is triggered the hotreload :

 An error was thrown in afterAll
 TypeError: ts_auto_mock_repository__WEBPACK_IMPORTED_MODULE_0__.ɵRepository.instance.ge

[2020-12-12 08:09] uittorio commented on #604
Hey, yep. It looks like improving the caching system may solve that issue. Do you mind opening a bug with the results you have? I would like to keep a bug open as a reminder :). For your particular example you could try to disable the cache and move the registerMock inside each test file that needs that mock, It's not a great solution but it may works.

[2020-12-14 09:58] BrunoBeraudPW commented on #604
Yes no problem of course, I'll do that soon as possible with a repo to reproduce the problem

[2020-12-14 11:38] BrunoBeraudPW opened #610 "Karma hot reloading error"
### Subject of the issue
Seems similar to https://github.com/Typescript-TDD/ts-auto-mock/issues/105

First, I have registered a type for all my tests files in test.ts
Second, in app.component.spec I have added a test which use createMock
Then, when I launch the jasmine tests, it's ok for the first execution, but for the next ones using the hot reloading this test will fail because of an internal e

[2020-12-16 09:06] uittorio commented on #610
hi @BrunoBeraudPW, thank you for creating a new issue.
First of all, thank you again @Pmyl for investigating the issue and writing down all the possible solutions.
After a quick chat, we've realized that the only way to support registerMock in live reload is with the cache disabled. Unfortunately, the option in the transformer configuration is not enough right now to support this functionality bec

[2020-12-17 09:03] BrunoBeraudPW commented on #610
Understood ! Thank for your answer and your time for investigation

[2020-12-21 05:57] CristhianParra opened #613 "Genric argument fails with "ReferenceError: t is not defined""
It's possible to send the type as an argument using generics?

[code]

[2020-12-21 08:13] uittorio commented on #613
Hi @CristhianParra! Thanks for using ts-auto-mock!

It's not possible to achieve what you are trying to do with this library. Ts-auto-mock it's a typescript transformer that analyzes the code at compile time. Every time the library finds 'createMock' will try to create the mocks given the generic. In your case the generic is lost by the time it will try to create it. It could be that there is a wa

[2020-12-21 17:46] CristhianParra commented on #613
Thanks for answering! I'm going to close the issue then

[2020-12-21 17:46] #613 closed

[2020-12-22 10:07] uittorio commented on #613
Thanks, if you want to share your code example we can try to figure out what you are trying to achieve. Why do you need a function?

[2020-12-26 02:07] CristhianParra opened #614 "Mocking functions return null if used without an explicit interface"
### Mocking functions return null if used without an explicit interface

First of all, this library it's awesome!

I'm trying to mock a set of function that return objects with both "values" and functions, for example:

[code]

Using the "debug" flag, I know that the issue is "Transformer - Not supported type: ShorthandPropertyAssignment - it will convert to null" so I moved into

[code]

But now

[2020-12-26 10:39] uittorio commented on #614
Hi @CristhianParra, thank you for using the library and creating the issue.

Unfortunately we don't support really well inferred types. I had a quick look and we can make it work but it will require some investigation. Ts-auto-mock works pretty well on Declared types. Let's keep this issue open. I'll keep you posted

[2021-01-06 15:46] CristhianParra commented on #614
Hi @uittorio there's any advance on this one? since you said that was possible... thanks in advance :)

[2021-01-06 16:42] uittorio commented on #614
@CristhianParra , I've done a POC and it was kind of working. Unfortunately, I am moving house soon so I am a bit busy :(. I think it's something that we definitely want from ts-auto-mock. I don't have any ETA, unfortunately! I hope it doesn't stop you from using the library completely.

[2021-02-02 14:45] jasonadkison opened #616 "Mocking a Readonly type returns undefined"
### Subject of the issue
When trying to create a mock for Readonly type the result is `undefined`

### Your environment
* ts-auto-mock version: `3.1.0`
* typescript version: `4.1.3`
* node version: `12.14.0`
* npm version: `6.13.4`

### Steps to reproduce
[code]

### Expected behavior
The `Readonly` mock should be created.

### Actual behavior
The mock is created as `undefined`.

[2021-02-03 11:06] wassy92x opened #617 "Generics defaulting doesn't work"
### Subject of the issue
If we like to create an object of an interface with a generic default, the property can't be accessed.
Workaround is possible by using `createMock<A<string, string>>`

### Your environment
* ts-auto-mock version: 3.1 (master - branch)
* typescript version: 4.1.3
* node version: v14.15.1
* npm version: v14.15.1

### Steps to reproduce
For example:
[code]

### Expected behav

[2021-02-03 12:57] Pmyl commented on #617
Oops, we'll try to figure out why that fails, thanks for opening the issue!

[2021-02-03 13:02] Pmyl commented on #616
Unfortunately we don't support mapped types as described here https://typescript-tdd.github.io/ts-auto-mock/types-not-supported#indexed-access-type-with-generics

We would like to but typescript doesn't have very good tools for us to understand the type. We're always keeping it under the radar but right now we can't do much.

To cope with that we created "createHydratedMock" https://typescript-tdd

[2021-02-23 00:24] iurevych opened #619 "Cannot get it to work"
Hello, I went through the whole tutorial but still can't get it to work, it throws an error when running Jest tests:
[code]

Here is the test itself https://github.com/iurevych/jest-ts-auto-mock-playground/blob/main/tests/app.test.tsx. I created this fresh new repo to isolate the environment.

Please help, I'm trying to automate TS interface mocks.

[2021-02-23 07:48] uittorio commented on #619
Hi @iurevych !  How are you running your tests? It looks like there is an additional jest config that is not using ts-jest to transpile the typescript file. Also your jest.config.js is not importing jest-ts-auto-mock. This is not going to fix the issue you are having. I think the tests you are running are not using the configuration from the package.json file.

[2021-03-20 08:37] uittorio commented on #619
HI @iurevych , sorry to get back to you so late. I've clone your repository and I've realised that you are also using a jest.config.js file. That file is overriding the jest config in the package json. You can either remove the jest configfile or add the correct configuration to that file! I hope this helps!

[2021-03-20 08:58] uittorio commented on #619
Closing this bug because it was a configuration issue, and again sorry to look into this so late :).

[2021-03-20 08:58] #619 closed

[2021-03-21 17:33] carlos89pc commented on #619
I have the same problem, have you found the solution? @iurevych

[2021-04-25 21:31] C0ZEN opened #699 "Maximum call stack size exceeded"
### Subject of the issue
I replaced all the `createMock` by `createHydratedMock` and now I have a bunch of failing tests.

Here is a stack trace issue example:

[code]

### Your environment
* ts-auto-mock version: 3.1.3
* typescript version: 4.1.5
* node version: 14.3.0
* npm version: 6.14.12

### Steps to reproduce
Well, this is complicated because it's not a particular test which fails, it's the

[2021-04-26 05:32] uittorio commented on #699
Hey!'

Another maximum call stack size exceeded.

Hydrated mock will automatically mocks the non required fields. It could be that one of the interfaces that you are moking has a feature that we dont support yet.

Can you try and use debug console in the transformer options and see if you see more useful information?
We should definitely improve the tracing.

Do you have a branch I can try?

If no

[2021-04-26 22:05] C0ZEN commented on #699
I took a look but honestly I have no idea on what to look to help you identify the culprit.
I created a [PR with the hydrated mocks](https://github.com/Sonia-corporation/sonia-discord/pull/1383) if you wish to take a look.
Thanks!

[2021-04-27 07:34] uittorio commented on #699
I ll have a look!! Hopefully it will be fixed soon!

[2021-04-27 07:53] C0ZEN commented on #699
@uittorio don't worry too much it's not a priority for me but thanks anyway, good luck!

[2021-05-05 06:25] uittorio commented on #699
@C0ZEN just to let you know I found the bug

Unfortunately when creating an hydratedMock for a recursive interface that has a union type of (A | null) it doesn't work as expected

[code]

I have a fix in mind, I will create a PR ASAP.

[2021-05-05 07:00] C0ZEN commented on #699
@uittorio ok thanks, nice catch!

[2021-05-16 17:32] uittorio commented on #699
really late but here is the fix. https://github.com/Typescript-TDD/ts-auto-mock/pull/736

[2021-05-17 08:18] C0ZEN commented on #699
@uittorio thanks!

[2021-05-18 11:36] dziadyk-m opened #739 "Mocking getters from class with mobx annotations"
Hey,

I'm not pretty sure if it is a feature or bug, but actually it isn't possible to create mock on class which have getter annotated by mobx computed annotation.

Test suite failed to run

    TypeError: Cannot read property 'kind' of undefined

      at Object.isComputedPropertyName (node_modules/typescript/lib/typescript.js:11303:21)
      at Object.e.GetStringPropertyName (node_modules/ts-au

[2021-05-18 15:28] Pmyl commented on #739
this is working for me

[code]

could you provide an example of failing class?

[2021-05-19 11:13] dziadyk-m commented on #739
Thank you, for your effort. You're right. Problem in my case was related with store dependencies, deep down one of the property was still a plain js class and that caused this error . Issue can be closed, sorry for the confusion :)

[2021-05-19 14:43] Pmyl commented on #739
No worries, happy that the issue was found :D

[2021-05-19 14:43] #739 closed

[2021-05-20 11:26] uittorio commented on #699
This is now live! I havent tested your particular branch with the new version! Hopefully it was the only issue!

[2021-05-20 21:16] C0ZEN commented on #699
Indeed, the fix was enough, thanks!
I just have to fix 46 failing tests, seems a lot but could be simply related to the flakiness introduced by the hydrated mocks.

[2021-05-20 21:16] #699 closed

[2021-05-20 21:25] C0ZEN opened #746 "Hydrated mock with undefined object values as parameter"
### Subject of the issue
I noticed on subtle change between the `createMock` and `createHydratedMock` functions.
Following my last comment https://github.com/Typescript-TDD/ts-auto-mock/issues/699.
Should fix https://github.com/Sonia-corporation/sonia-discord/pull/1383

### Your environment
* ts-auto-mock version: 3.2.1
* typescript version: 4.2.4
* node version: 14.17.0
* npm version: 7.12.1
* je

[2021-05-21 22:11] Pmyl commented on #746
this should be easy to solve, I'll take care of this

[2021-05-21 22:51] Pmyl commented on #746
PR open, just waiting for @uittorio to review it hoping he likes it 🤞

[2021-05-22 09:53] #746 closed

[2021-05-22 09:55] typescripttdd commented on #746
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ts-auto-mock/v/3.2.2)
- [GitHub release](https://github.com/Typescript-TDD/ts-auto-mock/releases/tag/3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-22 21:21] C0ZEN opened #751 "`createHydratedMock` and `cloneDeep` from LoDash are not loving each other"
### Subject of the issue
After migrating from `createMock` to `createHydratedMock`, I had a failing test.
I added some debuggers and I found out that nothing happened after using a [cloneDeep](https://lodash.com/docs/4.17.15#cloneDeep).
Removing the `cloneDeep` allow the test to pass as expected.
Using a spread operator is working as expected as well.
It means that there is something specific made

[2021-05-23 08:27] uittorio commented on #751
Hi @C0ZEN we are getting there!!!

Do you have an isolated example of the issue?

Which object are you trying to clone and at which point?

I will try to use createHydratedMock in combination with cloneDeep but it will help having the specific example!

If you dont have time I'll try to find it from your repository!

[2021-05-23 08:37] C0ZEN commented on #751
@uittorio hello, I am reaching the end of my road to hydrated mocks ;)
You can see here https://github.com/Sonia-corporation/sonia-discord/pull/1383/checks?check_run_id=2647456167.
This is the PR with the migration and the failing tests are related to the cloneDeep usage.

[2021-05-23 11:06] uittorio commented on #751
So, I've done some research. The interface has recursion. CloneDeep will iterate through all the values of the interface it will reach a Maximum call stack size exceeded. If you wrap the clone deep code in a try and catch you'll see the error.  Why is this happening with createHydratedMock and not createMock? Because the recursion is part of the not required interface.

[2021-05-23 11:06] uittorio commented on #751
I've created an example without ts auto mock

[2021-05-23 11:12] uittorio commented on #751
If you instead use a class with a getter it's all good  because the javascript converted has enumerable: false

[2021-05-24 09:41] Pmyl commented on #751
Yeah, cloneDeep for recursive interface would break it. It may be not break for `createMock` because it was defaulting some cases of `Type | null` to null so there is no recursion.

I guess it's dangerous to use cloneDeep on recursive interfaces in general, contracts like "this recursion is never infinite" cannot be defined in an interface, creating cases like ours where our implementation of that

[2021-05-24 10:13] uittorio commented on #751
I think is a good idea to limit recursion, however recursive getter in classes works with cloneDeep! I was wondering if we are doing anything wrong!

[2021-05-24 12:49] Pmyl commented on #751
you're right, we should find a way to ensure it works the same way, sorry @C0ZEN this may take a bit :(

[2021-05-24 13:06] C0ZEN commented on #751
As usual guys, I am not rushing and this is an open-source project, so take the time you need and anyhow I have a fallback option with the spread operator (even though cloneDeep is better than spread in my XP).
Thanks!

[2021-05-28 09:51] KevinMind opened #762 "Improve documentation surrounding registerMock();"
### Subject of the issue

I'm setting up ts-auto-mock to use in jest with registerMock<> being an important component.

We want to be able to mock interfaces for react components, and other data objects in our jest tests and setup sensible default values beyond what ts-auto-mock natively provides.

For example, where a simple string pattern does not suffice. We care about specific values sometimes

[2021-05-28 16:43] Pmyl commented on #762
The random string is a bug, it doesn't adhere with the interface so that shouldn't happen... I'll take some time to investigate a fix in the next days.

Without the random it should choose the first string, if it doesn't do that it's another bug, I'm not at my pc, I'll check later

For the registerMock I'm not sure so I want to summon @uittorio . I can tell you that you're right, it's a "side effe

[2021-05-28 18:58] uittorio commented on #762
Hi!

So, what about registerMock,

Short answer, in jest you have to use it in every file and make sure you have the cache disabled! If that doesnt work there is a bug 😅 .

Can you provide the transformer configuration?

Why can you not just import the register mock in one file!?
Jest runs the tests independently and we currently register the mock in the test file itself making impossible (sometim

[2021-05-28 20:37] Pmyl commented on #762
I'm at my PC and I have some results.
I tried this test:
[code]

Without `random` everything passes
![image](https://user-images.githubusercontent.com/16228209/120039310-9a84f280-bffc-11eb-93a8-3549c1e44375.png)

With `random`, as expected, the test on property `a` fails because it's a random string but the test on property `b` passes correctly
![image](https://user-images.githubusercontent.com/16

[2021-06-17 14:13] egriff38 opened #792 "mock set to null when interface and namespace have the same name"
### Subject of the issue
When there is a namespace and an interface with the same name, with the namespace declared first, mocking that interface returns null.

### Your environment
* ts-auto-mock version: 3.2.2
* typescript version: 4.3.2
* node version: 14.3.0
* npm version: 7.6.0
* list any other dependencies that you think are relevant
  * though it is probably irrelevant to the example, I am

[2021-06-17 14:17] egriff38 commented on #792
This is true of exported namespaces/interfaces as well, and I also noticed that creating a copy of the type: `type B2 = {[b in keyof B]: B[b]}` creates a mock labeled with `{ [Symbol(__marker)]: true }`

Thanks in advance!!

[2021-06-17 14:26] Pmyl commented on #792
I confirmed the bug, I'll take care of it!

The last thing you said is normal, for the transformer `B` is an empty object so that generates an empty object (plus a marker for mocks to work that won't impact any runtime execution)

[2021-06-17 14:43] Pmyl commented on #792
PR open to fix it #793 now waiting for @uittorio to review it, in one day max it should go in 😄

[2021-06-17 14:55] Pmyl commented on #762
@KevinMind I couldn't reproduce the main bug, if you have a reproduction of the bug that I can use or if you have other questions let us know, otherwise I'll close this bug 😄

[2021-06-17 19:10] Pmyl commented on #792
@egriff38 new version released, let me know if that fixes the issue!

[2021-06-18 13:28] egriff38 commented on #792
So I'm seeing a different issue now. I use Wallaby.js for testing, and for all of the tests I am now seeing the following error generated in the console:
[code]
This issue is not occurring when I run the `jest` command, but since the stacktrace starts with `ts-auto-mock` I figured I'd start here

[2021-06-18 17:16] Pmyl commented on #792
If it doesn't happen with jest it may be that wallaby.js is doing something fancy when compiling typescript to make it faster that breaks the transformer (or maybe it's using a different typescript version?)... I've never used it though and it seems to need a license to be able to use it...

Can you give me an example of interface that breaks when using wallaby and also the stacktrace? The smaller

[2021-06-18 17:34] egriff38 commented on #792
It very well might be some fanciness, but it ceases to fail when I change the version back from 3.2.3 to 3.2.2. The runtime is actually throwing these errors before the tests even begin to execute, so I'm not entirely sure how I'd go about reproducing, unfortunately ☹️. This is the line it is now getting hung up on though, AFAIK: https://github.com/Typescript-TDD/ts-auto-mock/blob/94dfbf0496d58561

[2021-06-19 17:05] Pmyl commented on #792
My guess is that since in 3.2.2 it didn't pick up the interface correctly (because it was considering it to be null) it didn't get to the error, now in 3.2.3 the interface works correctly and one of the properties (or even deeper than that) there is a weird type that make the code explode. If you can tell me what's the interface that breaks it I can research on it, I can fix the error handling whe

[2021-06-20 06:40] uittorio commented on #792
Wow, this bug seems interesting! There is a trial license in wallaby js but I think we still need the interface and which type of wallaby integration you are using (vscode, intellij, ...) in order to find the issue

[2021-06-21 12:33] egriff38 commented on #792
I will try to reproduce a minimal repository the causes the bug sometime today. As I said, the errors are actually occurring before any of the tests actually run, so if that's the case in general it should be a fairly lean example.

[2021-06-21 12:33] egriff38 commented on #792
Should we open a new ticket for the wallaby-related issue?

[2021-06-21 15:09] Pmyl commented on #792
Not at the moment, I want to make sure it's not our fault first

[2021-06-21 19:11] egriff38 commented on #792
I have been able to reproduce running just `ttsc`. Still working toward narrowing down the cause.

[2021-07-16 06:31] imjordanxd commented on #129
Any chance of reviving this? I've found TS-Jest to become unbearably slow. Setting `isolatedModules: true` unfortunately breaks the tests.

[2021-07-20 06:55] uittorio commented on #129
Hi @imjordanxd! Sorry for the late reply! I think we can improve the configuration to make it faster! Can you share your project so I can see what we can do?

As we mentioned before babel ts auto mock would be a completely different project!

[2021-07-21 05:14] imjordanxd commented on #129
Hey @uittorio, I'm working on a private project so unfortunately, I can't share it. Are there any details you require? At a very high level, I'm using the basic installation [here](https://typescript-tdd.github.io/ts-auto-mock/installation#jest--ts-jest--ttypescript) to test my React application with `testing-library`.

[2021-08-04 23:54] imjordanxd commented on #129
Hi @uittorio, just following up on this to see if you have any suggestions?

[2021-08-23 21:04] AlexRex commented on #614
Hi @uittorio is there any further work on this one? I would really love to see this working :)

[2021-08-30 08:12] uittorio commented on #614
okay! I got it, not the cleanest solution but it works. I just need to create more scenarios to make sure I didn't destroy all the literal functionalities :)

[2021-08-30 11:46] uittorio commented on #614
@AlexRex Do you have a more specific example for the scenario that you've described in the issue. I've covered most of the scenarios but this functionality doesn't work yet with spreading in conjunction with other properties. It gets messy! My general advise is to define the type but let's see if that works with this Pull request :)

[2021-08-30 11:46] uittorio commented on #792
@egriff38 Any updates on this?

[2021-08-30 11:47] uittorio commented on #762
Time to close this bug, @KevinMind feel free to open it again if you more informations!

[2021-08-30 11:47] #762 closed

[2021-09-02 07:01] uittorio commented on #614
This is now released. version 3.4.0 @AlexRex @CristhianParra! I will close a bug in a couple of days but I am expecting more scenarios similar to this one :)

[2021-09-02 10:25] uittorio commented on #614
Thank you for the example, I will have a look in a bit!

[2021-09-02 16:56] uittorio commented on #614
good news @AlexRex, fix is coming! Basically, I've started adding more examples like yours!! Thank you for your feedback because we are increasing the number of types that we support :).

[2021-09-06 06:56] uittorio commented on #614
@AlexRex Pull request just opened. https://github.com/Typescript-TDD/ts-auto-mock/pull/905. I had a busy weekend :)

[2021-09-06 07:16] AlexRex commented on #614
Awesome man! Waiting for it to be merged 😄

[2021-09-12 13:01] uittorio commented on #614
okay, sorry for the delay. Some changes on the PR and busy week at work :) This should fix your scenario and more!! Have fun and thank you!

[2021-09-12 13:03] uittorio commented on #614
@AlexRex @CristhianParra almost a year to close this issue!

[2021-09-24 07:36] #614 closed

[2021-11-01 15:33] Philipp3211 opened #969 "instanceof not working with a class mock"
In our tests we want to mock classes. When mocking them with the `createMock` function, the `instanceof` operator is not returning true when checking for the to be mocked class:
[code]
I'm not sure if this is a bug or not, but it prevents us from using the mock as a direct substitute, because our code depends on the `instanceof` operator returning `true`.

[2021-11-02 13:10] Philipp3211 opened #971 "Forwarding generic leads to ReferenceError"
While trying to extend the functionality of the `createMock` function, I tried to pass a generic to it. This makes it crash.
[code]

[2021-11-02 13:26] uittorio commented on #971
Hi @Philipp3211 !

Ts auto mock reads your code and replaces the createMock calls with a mock.

It is supposed to work the way your are describing.

Ts auto mock is not just a runtime library, it is also a compile time library.

Is there any specific reason you want to wrap it?

[2021-11-02 13:38] Philipp3211 commented on #971
Do you mean the wrapping is not supposed to work, or do you mean that this generally should be possible and I have to fix my wrapper?

I want to apply the workaround for #969 automatically when creating a class mock.

[2021-11-02 17:46] uittorio commented on #971
I meant that ts auto mock does not support your scenario because of the way that it generates the mocks.

What you can do is that you can create a function that receives the mock in input and changes the prototype, not sure if that works though.
i haven't tried

[2021-11-02 18:00] uittorio commented on #971
Something like this. it's seems to work
[code]

[2021-11-02 18:11] Pmyl commented on #971
createMock function cannot be used with a generics generics (lol) provided as parameter, the function to work around it should specify the specific class.

So instead of:
[code]
It should be:
[code]

There are reasons behind this and some were explained by uittorio, I'm not at my pc right now so sorry for the formatting and not explaining everything

[2021-11-02 18:14] Pmyl commented on #971
I know this workaround is not perfect for your case, unfortunately we don't support making the mock an instance of the provided class. We tried and there are some weird scenarios where few requirements clash with each other.
We can investigate a bit more if it's something that affects more people but I can't promise we would be able to do it :(

[2021-11-04 17:08] cruxicheiros opened #974 "Error in install instructions on Github Pages website"
### Subject of the issue
On [this page](https://typescript-tdd.github.io/ts-auto-mock/installation#jest--ts-jest--ts-patch) there is a typo that stops the code from working.

### What the problem is
In step 2 the instructions are to insert this into `tsconfig.json`
[code]

### What it should be
[code]

The fix is to remove the stray 0.

I would have made a PR but couldn't work out where the websit

[2021-11-05 13:17] uittorio commented on #974
Thank you @cruxicheiros. I will find some time during the weekend to fix it. This is the file if you want to open a pr. https://github.com/Typescript-TDD/ts-auto-mock/blob/master/ui/src/views/installation.mdx

[2021-11-06 10:29] uittorio commented on #974
this is now fixed. Feel free to refresh the page and check :)

Thank you for spotting the issue! https://typescript-tdd.github.io/ts-auto-mock/installation#jest--ts-jest--ts-patch

[2021-11-06 10:29] #974 closed

[2021-11-08 09:47] cruxicheiros commented on #974
No worries! Thanks for responding to the issue. It looks fixed now :)

[2021-11-10 12:20] Philipp3211 opened #981 "Object attributes are being copied instead of referenced"
When object attributes are given as parameter to the `createMock` function, they are copied instead of referenced. This is unexpected and has the disadvantage, that changes on the original object are not reflected in the mock:
[code]

[2021-11-10 14:32] Pmyl commented on #981
This is by design, provided overrides are merged recursively onto the created mock.
In general this is the standard way of doing it, let's look at your example:
[code]
What does this mean? If you want the objects to be provided by reference it means that the whole `{ testAttribute: test }` will be assigned to the mock, hence making it the effective mock. This means that there is no need to use cre

[2021-11-10 16:06] Philipp3211 commented on #981
Yes, features do make code slower. The question is, does this decrease in performance actually make a difference?

As Typescript objects get passed by reference per default, I feel like the current behaviour where objects get copied - given they are not a mocks themselves - is rather counter-intuitive than the other way around.

[2021-11-10 16:12] Philipp3211 commented on #981
Just an idea here: Is it possible to check if passed parameters are literals rather than variables?

[2022-03-22 15:35] lostvicking opened #1094 "Error on ESM TypeScript project when using ts-node + mocha"
### Error is thrown when running mocha tests
ESM TypeScript project is being tested with Mocha, when `ts-auto-mock`'s `createMock` is called an error is thrown

### Your environment
* ts-auto-mock version: 3.5.0
* typescript version: 4.6.2
* node version: 14.17.6
* npm version: 8.4.1
* mocha version: 9.2.2
* ts-node version: 10.7.0

### Steps to reproduce
Example repo here: https://github.com/lost

[2022-04-22 07:01] uittorio commented on #1094
Hello,

I did not forget about this, just being busy with the family, and decided not to spend time on ts-auto-mock.

Anyway, it has been 2 months 🤣

I couldn't fix the problem or find the root cause yet but I've checkout out your repo and I've realised that it was not configured correctly, or at least the transformer was not running at all. Instead of using the example provided by ts-auto-mock I'

[2022-05-06 01:50] muk-ai opened #1134 "Is there a minimum node version requirement for `ts-auto-mock`?"
### Subject of the issue

Is there a minimum node version requirement for `ts-auto-mock`?

### Your environment
* ts-auto-mock version: 3.6.1
* typescript version: 4.4.4
* node version: v14.17.3

### Steps to reproduce

[code]

I did not get this error in ts-auto-mock `3.6.0`.
Do I have no choice but to upgrade node?

[2022-05-06 06:49] uittorio commented on #1134
hi, this is a regression since the last update. I was not expecting to impact the production one!! I will revert the change. for the time being, keep using version 3.6.0!  I will keep supporting version 14 for a while longer.

Also, keep looking at this table from node js to see which versions they support https://nodejs.org/en/about/releases/

[2022-05-06 07:00] muk-ai commented on #1134
Thanks for supporting version 14.
And thank you for maintaining excellent software.

[2022-05-06 17:38] uittorio commented on #1134
@muk-ai this release is now in progress,

I've also added more tests during the ci to cover lts/fermium and lts/gallium!!

https://github.com/Typescript-TDD/ts-auto-mock/pull/1136

You will see a new release soon!

[2022-05-06 17:47] uittorio commented on #1134
here you go, feel free to close the bug when you are happy with that. https://typescripttdd.slack.com/archives/C014RPFH8EQ/p1651858775145709

[2022-05-06 17:49] uittorio commented on #599
hey @C0ZEN. I've never done this before, feel free to open a PR! sorry for replying so late, just cleaning up old issues.

[2022-05-09 03:46] muk-ai commented on #1134
Thank you very much, it worked perfectly.

[2022-05-09 03:46] #1134 closed

[2022-06-15 00:57] mystyle2006 opened #1224 "does it support @swc/jest?"
**Is your feature request related to a problem?**
we test out jest with @swc/jest as ts-jest keep slow.
does ts-auto-mock supoort @swc/jest?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2022-06-15 05:35] uittorio commented on #1224
Hi! 👋

No, ts auto mock does no support it but swc provides a plugin system. We could make it work. Happy to review a PR

[2022-06-15 11:27] mystyle2006 opened #1227 "ts-auto-mock with isolatedModule in jest config not working"
### Subject of the issue
i want to use ts-jest without type checking for speed and also want to use ts-auto-mock for mocking management.
however when isolatedModule like below link is not working with ts-auto-mock.
can you please help me ?

related-link: https://huafu.github.io/ts-jest/user/config/isolatedModules

### Your environment
* ts-auto-mock version: recent
* typescript version: 4.2.3
* no

[2022-07-03 09:50] kawamataryo opened #1271 "does it support Vitest ?"
**Is your feature request related to a problem?**

Thanks for developing a very cool library.
This library has made the testing environment of my project so much better!

Can I get ts-auto-mock to work with [Vitest](https://vitest.dev/)?

vitest is a very fast-running testing framework.
I am currently considering migration from ts-jest to vitest.
However, I am having trouble getting through the te

[2022-09-07 11:10] rostamiani opened #1395 "Passing a generic type to createMock throws weird error in a wrong place!"
I'm trying to pass interface to createMock using a generic parameter and it raises a weird error on a weird place!

For example this is my test:
[code]
It generates this error on a wrong line!:
[code]
But there is no `t` variable in my code
This is the full error:

![image](https://user-images.githubusercontent.com/1157108/188863793-bae6b2b5-6560-4ae9-be4b-0dfb62c9ff25.png)

[2022-10-05 09:28] jonas2727 commented on #129
@Pmyl
I can tell you a benefit. Relay requires the babel-plugin-relay to work (replaces GraphQL-tags with compiled artifacts).
And for unittesting fragments, the plugin is required to also transpile the test code. Thus Relay and ts-auto-mock cannot be used together which is really sad

[2022-10-06 09:17] ChristianKlima commented on #177
We are testing our Angular-UI with cypress. To mock our backend we use factories in which we set default values. It would save us a lot of code if we could use this api. Unfortunately, you cannot change the default values. Empty strings are not an alternative, since an empty string can also simply indicate that the value has not been set (it doesn't have to come from the backend then). The random

[2022-10-06 09:20] ChristianKlima opened #1429 "Change Automock Default-Values"
To mock our backend we use factories in which we set default values. It would save us a lot of code if we could use this api. Unfortunately, you cannot change the default values. Empty strings are not an alternative, since an empty string can also simply indicate that the value has not been set (it doesn't have to come from the backend then). The random function doesn't help either, since our test

[2022-10-12 16:52] cesarvspr opened #1436 ""ts-auto-mock" is not published error"
### "ts-auto-mock" is not published error

I can use the auto mock tool but eslint keeps telling me that 'ts-auto-mock' and 'jest-ts-auto-mock' are not published packages.

Sorry if this is not the right place for this. I tried follow the docs but could no see anything related.

### Your environment
* ts-auto-mock version: 3.6.2
* typescript version: 4.8.4
* node version: v18.4.0
* npm version: 8.

[2022-10-18 13:08] Philipp3211 commented on #1429
Does the [registerMock](https://typescript-tdd.github.io/ts-auto-mock/register-mock) function help you?

[2022-10-27 10:54] fabbree commented on #94
Hello there,

I might have stumbled on the same issue with an even simpler case:

[code]

I was expecting to have both field populated but only first level is.

I hope it may helps your investigations.

[2022-11-05 23:28] C0ZEN opened #1439 "[Doc improvement] Improve the `ts-jest` configuration in the docs"
**Is your feature request related to a problem?**
Defining `ts-jest` under `globals` is deprecated.
The current documentation is still showing this way to configure the dependency, like:
[code]

**Describe the solution you'd like**
Can you update the docs to use a not deprecated version of the configuration?

**Additional context**
The complete warning is:
[code]